[2016-07-08 09:44] davidfestal commented on #351
I assume it's mainly related to the fact that now we don't start the model update when only the edited file was changed with changes that do not impact the other files. in most cases, when we need code completion, we are writing some block / specifier implementation, and in such a case the model update will not be triggered.

[2016-07-11 08:47] luolong opened #354 "Typing (smart) block comments"
Hi,

When I am typing in comments in IDEA, I've come to expect some sort of assistance from the IDE.

In java, when typing:

[code]

I expect that IntelliJ completes the comment like this:

[code]
where the `|` signifies new cursor position.

Further, when typing Enter within a comment, I expect the ` *` prefix to carry on to new line.Like this:
[code]

Currently, neither of these _smart block com

[2016-07-11 11:11] gavinking commented on #285
This one is getting annoying. Do we understand why it happens?

[2016-07-11 12:29] bjansen commented on #285
It happens when the parsed PSI is different from the root node that's in the global model (I think it only happens for external phased units).

[2016-07-11 12:52] davidfestal commented on #285
It might be related to #342 then ?

[2016-07-11 12:55] davidfestal commented on #298
@gavinking : I've tested that the check for ProcessCanceledException is made correctly. However, to better test this fix, could you show me the code where you hide those exceptions ?

[2016-07-11 13:11] davidfestal commented on #285
I mean a precise case when searching for implementations that always triggers this exception. I never had this recently when searching for implementations through the `Go To > Implementations` contextual menu, even for external archives.

[2016-07-11 13:26] gavinking commented on #285
@davidfestal it happens randomly from time to time. If you use the IntelliJ IDE for development, you will see it.

[2016-07-11 13:26] gavinking commented on #285
(It is nothing to do with searching for implementations.)

[2016-07-11 13:28] davidfestal commented on #285
Ah, OK, I mentioned it because it was in the 2 stacktraces you pasted.

[2016-07-11 13:34] gavinking commented on #298
At `ErrorsVisitor:74`. (I think that check is probably the right thing to do, FTR.)

[2016-07-11 13:41] davidfestal commented on #298
OK, Thanks. So now this will filter out NPE or other types of runtime exceptions that were attached to the AST (without rethrowing them) but the `ProcessCanceledException` will have be directly rethrown up to the caller of the typechecking.

[2016-07-11 14:05] luolong commented on #285
I get this too with today's (yesterday's) nightly build...

[2016-07-11 14:10] gavinking commented on #354
I have implemented the first requested feature. The second part (the * at the start of the line) is something that IDEA only does specifically for _JavaDoc_ comments, which we don't have. So I think we're good.

[2016-07-11 14:10] #354 closed

[2016-07-11 14:51] luolong commented on #354
Thanks. I'll try this out as soon as new nightly is available

[2016-07-11 14:57] davidfestal commented on #285
@gavinking , @luolong : Could you paste the stackTrace here each time this happens ? This will give more information about the various use-cases.

[2016-07-12 11:28] gavinking commented on #323
This does indeed seem to be fixed now.

[2016-07-12 11:28] #323 closed

[2016-07-12 11:40] gavinking commented on #285
[code]

[2016-07-12 11:42] gavinking opened #355 "can't navigate to JavaMap"
There is something strange about `ceylon.interop.java::JavaMap`. I can't navigate to it by clicking.

[2016-07-12 11:46] luolong commented on #285
[code]

[2016-07-12 11:49] gavinking commented on #355
What's really frustrating about this is that the problem disappears if I run in debug :-(

[2016-07-12 13:03] davidfestal commented on #285
Thanks for the stackTraces. That should help.

[2016-07-12 13:05] gavinking commented on #298
So is this fixed now, @davidfestal ?

[2016-07-12 13:06] davidfestal commented on #298
I think yes.

[2016-07-12 13:36] gavinking commented on #285
[code]

[2016-07-12 14:27] bjansen opened #356 "Some refinement proposals are missing"
I noticed that when I try to complete refinements in a Ceylon class that extends a Ceylon class that extends a Java class, I don't see proposals for refinements of methods from the Java class. For example in `IdeaModule` I can't refine `getAvailableDeclarations` using code completion.

[2016-07-12 14:28] bjansen commented on #356
It might be a problem similar to #353, where the lookup string is already used for invocations or references.

[2016-07-12 15:01] bjansen opened #357 "Bugs in "move statement""
In the following code:

[code]

* When I put the caret in whitespaces on line 1 (either before `value` or after the semicolon) and try to move it down, line 2 disappears.
* When I put the caret in line 1 and try to move it up, I expect it to go inside the `if` statement like in Java, but instead it moves above the `if`.

In the following code:

[code]

If I put the caret after the opening curly br

[2016-07-13 09:31] bjansen commented on #357
I just found this stacktrace, although I don't know what text caused it:

[code]

[2016-07-13 12:04] gavinking opened #358 "npe computing completions"
Something is instantiating a `NothingType` with no `Unit`. I strongly suspect, but do not know, that we have a `Module` with a null `unit`.

[code]

[2016-07-13 12:21] #358 closed

[2016-07-13 12:22] gavinking commented on #358
Should be fixed now.

[2016-07-13 14:23] DiegoCoronel opened #359 "runner for 'ceylon fat-jar'"
The release 1.2.3 have a feature to create fat-jar and IDE can have the options:
- Create fat-jar
- Run as Java Application (fat-jar) //or something like that

[2016-07-14 15:07] davidfestal opened #360 "`IndexNeededWithNoIndexStrategy` when completing the typechecking of external phased units"

[2016-07-14 15:25] davidfestal opened #361 "Changes lost if an exception is thrown during the change submission task"

[2016-07-14 16:41] #361 closed

[2016-07-14 16:50] davidfestal commented on #219
@FroMage : this should work now. Can you confirm it also works in your case ?

[2016-07-14 18:18] gavinking opened #362 "NPEs from Navigate > Class and Navigate > Declaration"
Suddenly I get these errors:

[code]

[code]

These are new.

[2016-07-15 10:04] #362 closed

[2016-07-15 14:03] gavinking opened #363 "errors after project Rebuild"
I rebuilt the project and got a bunch of these attached to the tree:

[2016-07-15 18:03] gavinking opened #364 "error building hierarchy"
[code]

[2016-07-17 16:19] #349 closed

[2016-07-17 16:21] gavinking commented on #349
Fixed.

[2016-07-17 22:50] gavinking commented on #357
All these issues should now be fixed, except for:

But TBH, it's not *entirely* clear which behavior is most useful...

[2016-07-17 23:19] gavinking commented on #357
This last problem is now fixed. Closing.

[2016-07-17 23:19] #357 closed

[2016-07-19 15:20] gavinking opened #365 "completion results in duplicated imports"
With @bjansen's latest work, completion _always_ adds a new import, even if the declaration is already imported, resulting in dupes.

[2016-07-19 21:57] #360 closed

[2016-07-19 22:00] davidfestal commented on #363
Please can you provide a more complete stack trace ?

[2016-07-19 22:03] #298 closed

[2016-07-19 22:08] davidfestal commented on #219
@FroMage any news about the fact it fixes your Android problem as you were expecting ?

[2016-07-20 09:40] gavinking commented on #365
Bastien, it seems partially, but not *completely* fixed. I still got a duplicated import with `createJavaObjectArray()`,

[2016-07-20 09:48] bjansen commented on #365
It's actually worse than that, once `createJavaObjectArray` is imported I see duplicate results in the completion popup. The first doesn't create a duplicate import, whereas the other does.

[2016-07-20 09:53] gavinking commented on #365
Ah, yes, sure. It's because `createJavaObjectArray()` is now proposed by both layers of completion. You need to filter already-imported declarations out of the things you propose from intelliJ's index.

[2016-07-20 09:57] gavinking opened #366 "completion proposals no longer nicely sorted"
With @bjansen's latest work on completion, it looks like proposals aren't sorted according to my nice algorithm.

[2016-07-20 10:00] gavinking opened #367 "missing invocation proposals for Java classes"
It seems that for (some?) Java classes, only the type name is proposed, or only the default constructor, and not every overloaded argument list.

[2016-07-20 10:23] gavinking opened #368 "icons for completion proposals"
With @bjansen's latest work we've lost the nice icon for `abstract` classes, and the pin decoration for `final` classes.

[2016-07-20 10:24] gavinking opened #369 "documentation popup in completion list and navigate > class"
With the latest work on completion proposals, using F1 to display the documentation window from a completion list now displays a blank popup.

[2016-07-20 10:25] gavinking commented on #363
I don't have anything else, I'm sorry.

[2016-07-20 13:17] #365 closed

[2016-07-20 13:26] #368 closed

[2016-07-20 14:05] gavinking commented on #368
Thanks

[2016-07-20 19:44] davidfestal opened #370 "`IndexNeededWithNoIndexStrategy` exception just before a `Make` in `CeylonBuilder` ..."
... when running the model update.

[code]

[2016-07-20 20:38] gavinking commented on #325
What happened? This error is gone, all of a sudden! Did you fix it, @davidfestal ?

[2016-07-20 20:40] davidfestal commented on #325
@bjansen migrated `CeylonFile` from Java to Ceylon, which  fixed the error naturally. But the root cause (limited bi-directional interop) is not fixed.

[2016-07-20 20:42] gavinking commented on #325
Alright, so we should close this and open a new issue for the bidi interop problem.

[2016-07-20 20:42] #325 closed

[2016-07-20 20:49] #344 closed

[2016-07-20 20:50] gavinking commented on #344
Done.

[2016-07-20 20:56] gavinking commented on #364
I have not seen this error recently, and I have no clue how to reproduce it ... so I suppose I might as well close this one.

[2016-07-20 20:56] #364 closed

[2016-07-20 21:01] gavinking commented on #356
Yeah, I think this bug has the same root cause as #353. Namely that `newLookup()` is a bit stupid.

[2016-07-20 21:27] gavinking opened #371 "autocompleting an annotation results in \Ishared"
No sure what's going on here, but completion gives me stuff like `\Ishared`, `\Ideprecated`, etc.

[2016-07-21 00:59] gavinking commented on #371
@bjansen This appears to be the result of your work. `scanJavaIndex()` is creating a `Class` to represent `deprecated()`, instead of a `Function`.

[2016-07-21 07:54] #371 closed

[2016-07-21 08:57] bjansen opened #372 "ChangeParametersRefactoring is broken"
While trying to call the refactoring on a usage of `scanJavaIndex()`, I get this:

[code]

[2016-07-21 09:03] bjansen commented on #366
Part of the problem is that the proximity was always set to `0`. Is it OK if I extract those lines in a separate function that can use in my override? https://github.com/ceylon/ceylon/blob/master/model/src/com/redhat/ceylon/model/typechecker/model/Module.java#L226-L260

[2016-07-21 11:26] gavinking commented on #366
@bjansen Sure, of course.

[2016-07-21 15:56] bjansen commented on #366
@gavinking should be better now, wdyt?

[2016-07-21 16:48] gavinking opened #373 "editor typechecker doesn't run"
It's suddenly really hard to edit Ceylon code because most of the time the typechecker doesn't get called. I wind up having to close and reopen the editor in order to see errors and be able to navigate.

[2016-07-21 17:33] gavinking opened #374 "proposals for generic types are missing type argument lists"
Will @bjansen's recent work, proposals for types like `Iterator` are missing their type arguments. It should propose `Iterator<Element>`.

[2016-07-21 22:08] davidfestal opened #375 "2 model updates executing at the same time."
When a model update is very long and has timed-out, a new one might be started before the pprevious one is canceled, so that 2 model updates are running at the same time. We should cancel the previous one when a new model update is triggered.

[2016-07-22 12:06] bjansen commented on #373
That was fixed in fece5b2bb526bc18844f9ac4770e84a820473922.

[2016-07-22 12:06] #373 closed

[2016-07-22 12:48] bjansen opened #376 "Work around the removal of PsiQualifiedNamedElement.getContainer()"
https://upsource.jetbrains.com/idea-ce/revision/idea-ce-f0bb0c69d64bfa2851995fa82f44ec5edc45d04e

This breaks in 2016.2.1 EAP when I call "go to class".

[code]

[2016-07-22 13:03] bjansen commented on #375
Sometimes when I open a project, as soon as the model is completely loaded it does a full model reload right after, even though no `module.ceylon` or external dependency changed. It might be the same problem as this one.

[2016-07-22 14:15] azolotko commented on #101
Not sure if it's relevant, but today I saw the following:

<img width="308" alt="screen shot 2016-07-22 at 4 08 24 pm" src="https://cloud.githubusercontent.com/assets/110424/17059731/e37e685e-5026-11e6-8b01-3018862e9693.png">

`forEach` is defined in Java as `default void forEach(Consumer<? super T> action) {`

IntelliJ IDEA 2016.2
Build #IC-162.1121.32, built on July 9, 2016
JRE: 1.8.0_76-release

[2016-07-22 14:17] bjansen commented on #101
OK, I'll have to investigate...

[2016-07-22 14:27] davidfestal commented on #363
The commit  @417e0ec will help catching this error correctly and retrieving the whole call stack, instead of attaching it to the AST. This will help to know where to add the correct indexing strategy.

[2016-07-22 14:29] davidfestal commented on #375
The previous commit might have fixed your problem. Do you confirm @bjansen ?

[2016-07-22 14:46] #376 closed

[2016-07-22 15:09] #374 closed

[2016-07-22 15:41] gavinking commented on #369
I have the same problem in Navigate > Class, it seems. F1 pops me up some nonsense decompiled code.

[2016-07-22 15:44] gavinking commented on #366
It does seem significantly better now, I agree.

[2016-07-22 15:59] gavinking commented on #374
Better, thanks.

[2016-07-22 16:00] #366 closed

[2016-07-22 16:00] gavinking commented on #367
A good example is `StringBuffer`, for which only the default constructor is proposed.

[2016-07-22 16:16] gavinking commented on #355
Actually it's much worse than that. Right now, it's impossible for me to navigate to most declarations in `ceylon.collection` or `ceylon.interop.java`. I can navigate to *some* of them. And I can navigate to all Java declarations.

[2016-07-22 16:24] gavinking opened #377 "autocompletion broken in certain locations"
Given this exact code:

[code]

Autocompletion returns no proposals. This bug does not affect the Eclipse plugin, which is weird.

[2016-07-22 16:29] gavinking commented on #377
Also it seems to have swallowed the parser errors in this case. Something *extremely* screwy here.

[2016-07-22 16:33] gavinking commented on #377
Do parse errors somehow crash the whole typechecking process? @davidfestal ?

[2016-07-22 16:40] bjansen commented on #377
I see an endless loop of these:

[code]

[2016-07-22 16:43] bjansen commented on #377
The assert is:
[code]

with `expected == 78` (that's correct), and `length == 70`, which is wrong. It looks like because of the parse error, we don't add an "invalid code" token at the end of the AST, which leads to all those errors.

[2016-07-22 17:04] bjansen commented on #375
No, it looks like it's still happening :(

[2016-07-22 17:19] #377 closed

[2016-07-22 17:19] bjansen commented on #377
Should be fixed. @davidfestal don't forget to include this fix when you rewrite IdeaCeylonParser in Ceylon: https://github.com/ceylon/ceylon-ide-intellij/commit/ba72ad908f0da85ba30235dd3c1c2e927b631ed7

[2016-07-22 17:30] bjansen commented on #377
BTW this is a regression introduced in 72d0bb8bb95962a1bb37d29b1bbdea6c24df54ec, when I subclassed `CeylonLexer`, overriding `nextToken` had the nice side effect to automatically create a "bad code" token at the end of the list during the last call of `nextToken`.

[2016-07-22 18:00] gavinking commented on #377
Excellent, thanks! This one was stressing me.

[2016-07-23 18:40] gavinking opened #378 "indicate repo to which artifact belongs in Project window"
As shown in the following screenshot, it would be very useful if instead of "library root", we got a path to the module artifact, or at least to the repo from which it came.

<img width="367" alt="screen shot 2016-07-23 at 8 38 10 pm" src="https://cloud.githubusercontent.com/assets/579974/17079606/89326284-5115-11e6-9dea-3e1aa3a3ce54.png">

[2016-07-23 18:42] gavinking commented on #263
This problem is back ... probably related to the addition of `ceylon-ide-common` to the project.

[2016-07-23 18:44] gavinking commented on #263
<img width="476" alt="screen shot 2016-07-23 at 8 43 36 pm" src="https://cloud.githubusercontent.com/assets/579974/17079631/38a0b9dc-5116-11e6-89c2-7f4003ef3620.png">

[2016-07-23 18:58] gavinking commented on #355
Looks like the problem might have something to do with this error:

[code]

[2016-07-23 19:02] gavinking commented on #355
In fact, I'm now certain this is the cause.

[2016-07-24 10:59] gavinking opened #379 "intermittent error during builds"
Every second or third time I build the project, I get:

[code]

Followed by lots more errors.

[2016-07-24 11:14] gavinking opened #380 "lots of 'Unsupported token type' errors"
[code]

[2016-07-24 12:00] gavinking commented on #307
So it seems to me that we now need to focus on optimization of the rendering side of completions, since I have the following results for single-character prefixes:

[code]

Now, it could be that the "constructed completions" phase is still dominated by model loading (loading parameter lists and type parameter lists). But it's clear that _scanning_ the index is now exhibiting acceptable performance

[2016-07-24 12:10] gavinking commented on #307
<img width="414" alt="screen shot 2016-07-24 at 2 08 40 pm" src="https://cloud.githubusercontent.com/assets/579974/17083695/678aa126-51a8-11e6-9bc7-74d29a63d185.png">

To test this hypothesis, I turned off argument list completions in preferences, and did not observe any change:

[code]

So it looks like something else is taking all the time.

[2016-07-24 12:15] gavinking opened #381 "completion preferences not loaded at IDE startup"
Completion preferences are ignored until I actually open the preferences page to force them to be loaded.

[2016-07-24 12:47] gavinking commented on #307
Interesting. I commented out the call to `addReferenceProposal` at `IdeCompletionManager:905`, which is the line which actually adds all the proposals, and I got the following results:

[code]

So in fact we're spending most of the time doing I'm-not-sure-what, not actually constructing any proposals. WTF?

[2016-07-24 13:55] gavinking commented on #307
Alright, so it seems that most of the time is spent in the call to `getRefinedProducedReference(scope, dec)` at line 841. That makes perfect sense.

[2016-07-24 16:30] gavinking commented on #307
After a couple of hours work I have made _some_ (but not enough) progress:

[code]

[2016-07-25 08:35] bjansen commented on #375
I'm suspecting this happens when the current editor is showing a Java file...

[2016-07-25 08:37] bjansen commented on #375
Oh wait, now we have *two* Ceylon projects in the same window, so I guess the second model update is for ceylon-ide-common...

[2016-07-25 08:54] davidfestal commented on #375
Probably, but even then it shouldn't happen. This is why I didn't close the
issue for the moment.

Le 25 juil. 2016 10:37, "Bastien Jansen" <notifications@github.com> a
écrit :

[2016-07-25 09:45] #370 closed

[2016-07-25 09:50] davidfestal commented on #363
@gavinking : I couldn't reproduce this until now, and without a stacktrace I don't have enough information to identify the root cause.

However I made so that this type of exceptions will not be caught by the typechecking visitors anymore: when this happens again, we should now have a full stacktrace to further analyze the problem.

[2016-07-25 09:52] gavinking commented on #363
I get it basically every second time I try to Make the IDE project after a change.

[2016-07-25 09:54] gavinking commented on #363
Oh, wait, no, I'm thinking of #379. OK, we can close this for now, since #379 is far more urgent.

[2016-07-25 09:54] #363 closed

[2016-07-25 10:59] gavinking commented on #307
Even after the work I did, more than half the time spent on constructing completions is spent in `getRefinedProducedReference()`. I would love to know what exactly it is doing in there. Loading type parameters, I suppose?

So @bjansen, perhaps we need to create "light" `TypeParameter` models in `scanJavaIndex()`?

[2016-07-25 12:18] #381 closed

[2016-07-25 12:41] gavinking commented on #367
Fixed.

[2016-07-25 12:41] #367 closed

[2016-07-25 13:21] gavinking opened #382 "linked more argument completions are broken"
Linked mode arg proposals were working until *very* recently. Not sure what happened here...

[2016-07-25 13:24] gavinking commented on #382
Oh, I see, it was the fix to #381. So this isn't a bug. But why do we have linked mode arg completions disabled by default?

[2016-07-25 13:38] bjansen commented on #382
No, they are enabled by default (see `CompletionOptions`). Maybe you disabled them a long time ago and forgot about it (because the setting was never used)?

[2016-07-25 13:40] bjansen commented on #382
Disabling linked mode gave a slight performance boost when we started working on this topic a few weeks ago, maybe that's when you disabled it?

[2016-07-25 15:41] davidfestal commented on #285
@bjansen : there is at least one case when this situation would be expected and we shouldn't *throw* a runtime exception IMO:

When you migrate a Java file to Ceylon, at the beginning you might tolerate a duplicate class error. And in this case, when you open the Java file, it will try to find references to the Java (now duplicated) Class, and will finally try to find the node inside the new Ceylo

[2016-07-25 15:55] davidfestal opened #383 "`CannotWaitForIndexesInReadAccessError` when trying to resolve a source declaration inside a binary archive during the `TextEditorHighlightingPass`"
[code]

[2016-07-25 16:17] gavinking commented on #382
OK, could be. Closing.

[2016-07-25 16:17] #382 closed

[2016-07-25 16:21] gavinking commented on #383
This is the same as the problem I reported [here](https://github.com/ceylon/ceylon-ide-intellij/issues/355#issuecomment-234734301).

[2016-07-25 16:22] davidfestal commented on #383
OK, then it should be fixed locally.I'll push soon.

[2016-07-25 16:51] gavinking opened #384 "opening module.ceylon in a binary archive takes me to decompiled bytecode"
It's nice that I can navigate to Ceylon source from the contents of a binary archive, but it doesn't work for module and package descriptors.

<img width="839" alt="screen shot 2016-07-25 at 6 49 09 pm" src="https://cloud.githubusercontent.com/assets/579974/17109537/a18e0b56-5298-11e6-9c2e-4d47475ec16d.png">

[2016-07-25 16:53] gavinking opened #385 "finish migrating compiled package to Ceylon"
Need to debug this commit ceylon/ceylon-ide-intellij@676d9cb.

[2016-07-26 14:00] bjansen commented on #380
It happens again in IdeCompletionManager.ceylon :(

[2016-07-26 14:37] gavinking opened #386 "Navigate > Implementations does not find Ceylon impls of Java types"
If I do Find > Implementations on a reference to a Java interface (or class), I don't see Ceylon implementations.

[2016-07-26 15:44] bjansen commented on #307
Yes, in `getRefinedProducedReference()`, most of the time is spent in `getTypeParameters()`. But in my tests, `addInvocationProposals()` and `overloads()` are way slower than `getRefinedProducedReference()`.

That's fine, I guess, if we're going to customize the proposals for Java classes and not call these methods.

[2016-07-26 16:41] gavinking commented on #307
Both `overloads()` and `addInvocationProposals()` also do model loading.

Yes, I think that's right.

[2016-07-27 08:30] #383 closed

[2016-07-27 08:46] davidfestal commented on #355
Now that #383 is fixed, it seems that navigation to `JavaMap` is still prevented by the following exception:
[code]
Let me have to look to this one.

[2016-07-27 09:34] davidfestal opened #387 "violated `is Tree.Declaration decNode = data.node` in `addPunctuationQuickFix`"
[code]

[2016-07-27 09:37] davidfestal commented on #355
@gavinking : it's working here now. Do you confirm also ?

[2016-07-27 10:01] #387 closed

[2016-07-28 08:39] bjansen opened #388 "Can't debug the plugin in IDEA 2016.2.1 EAP"
It looks like we now have to specify libraries as `PROVIDED`, otherwise they are copied to the sandbox and I end up with duplicate classes in the classpath:

[code]

[2016-07-28 08:48] #388 closed

[2016-07-28 09:03] davidfestal commented on #355
well, now it seems that the call to `SuperMethodsSearch.search()` in `PSIMethod.computedIsOverriding()` also needs an `upToDate` index since I just had this exception:

[code]

Let me fix this last one, that might also be the root cause of #363

[2016-07-28 10:18] davidfestal commented on #375
To summarize, we should:
- cancel the current build background task when the timeout has been reached.
- provide a configurable setting that allows changing the model update timeout, to also fit very big projects.

[2016-07-28 10:49] davidfestal commented on #375
@bjansen : do you confirm the problem is fixed also for you ?

[2016-07-28 10:56] davidfestal commented on #355
@gavinking : this definitely works for me now. I'll close it but please reopen it (or a new one) if necessary

[2016-07-28 12:11] gavinking commented on #355
Looks good to me. Thanks!

[2016-07-28 14:43] #379 closed

[2016-07-28 14:44] bjansen commented on #379
Should be fixed.

[2016-08-01 16:30] davidfestal opened #389 "Correctly manage possible inconsistencies inside the parser for external or project phased units"
When parsing external phased units (from source archives) or project source files that are not currently edited, we try to reuse the already-typechecked compilation unit and tokens, that we retrieve from the model. However, according to the lifecycle, there might be some situations when they don't match with the current content of the underlying document. This disturbs the parser, so that, finally

[2016-08-02 09:08] bjansen opened #390 "Changes in .ceylon/* are not used unless the project is reopened"
I added a repo to my project's `.ceylon/config`, and even with `Reset Ceylon model` the changes were not seen, probably because the config object is not recreated during a model reset.

* changes in any file in `.ceylon/` should trigger a notification asking if the user wants to reset the model
* changes in the UI settings should also trigger a reset (if repositories were changed for example)

[2016-08-02 09:49] davidfestal commented on #390
@bjansen : Currently, changes to `.ceylon/config` normally should trigger a full build with classpath resolution. if ti doesn't it's a bug. I'll have a look. in the case of the config file, I think we even don't need to ask the user. For changes in other files (distinct from the `config` / `ide-config`), probably we should ask.

[2016-08-02 09:56] davidfestal commented on #389
This should fix the remaining case of issue #380.

[2016-08-03 09:26] bjansen commented on #390
Right, it looks like a full build is triggered, but the configuration object is not updated with what was changed in the config file, so the rebuild is currently useless.

[2016-08-05 08:46] #389 closed

[2016-08-05 09:24] davidfestal commented on #375
well, let me close it now, and please reopen it if you still encounter problems @bjansen

[2016-08-05 09:24] #375 closed

[2016-08-05 14:15] davidfestal opened #391 "`Assertion failed` in `changeTypeQuickFix_`"
[code]

[2016-08-05 14:20] davidfestal commented on #342
@gavinking : I fixed a main root cause of this. There *might* possibly be other cases when it might happen, but for the moment I didn't encounter any.

can you confirm this has fixed the cases you were encountering ?

[2016-08-06 12:31] davidfestal opened #392 "Null check during refactoring"
[code]

[2016-08-08 15:00] azolotko opened #393 "AssertionError: Already disposed: Project"
[code]

[code]

ceylon-ide-intellij @ ae026afe0e7d8b2f5dd808885352ddb6e3847e04

Steps to reproduce:

1. Create Ceylon project A (File/New/Project...)
2. Close project A
3. Remove project A from disk
4. Create Ceylon project B

[2016-08-09 12:53] davidfestal commented on #285
Apart from the 2 specific cases mentioned above (duplicate name and guarded variables), there was another very frequent use-case for this situation:

`CeylonReference`, when trying to resolve the reference target, was retrieving the Ceylon node of the target from the central model phased unit, *even for an edited file*. So since the model in not always up-to-date, searching, in the edited file, th

[2016-08-09 13:08] gavinking commented on #285
@davidfestal Yeah, I always figured something like that must be going on.

[2016-08-09 13:45] #392 closed

[2016-08-09 13:48] davidfestal commented on #380
This shouldn't happen anymore since the root cause (#389) has been fixed.
@gavinking, @bjansen: do you confirm ?

[2016-08-09 13:51] #391 closed

[2016-08-09 14:28] gavinking commented on #369
This now seems to be sorta-working, but a bit flakey, in the completion popup, but still non-working in Navigate > Class.

[2016-08-09 14:46] gavinking opened #394 "problem sorting proposals"
I just got this:

[code]

[2016-08-09 14:57] davidfestal opened #395 "Assertion error during refactoring."
[code]

[2016-08-09 15:13] gavinking commented on #217
This finally seems to be fixed.

[2016-08-09 20:58] davidfestal opened #396 "void package name for module descriptors"
We regularly receive these log messages since several days in Idea console.
When such a message occurs, the package name returned for a binary module descriptor is void, which of course is wrong

This is rather new and seems related to commit ceylon-ide-intellij@c8f5183 that broke something
in `PSIPackage` for the various packages that are based on a `PsiClass` that is a `$module_.class`

The `con

[2016-08-09 21:04] #396 closed

[2016-08-10 08:26] bjansen commented on #372
This doesn't happen anymore. I had another bug that was fixed in c8f51831bb211ae8b826aee6d17490eeae19c1b2.

[2016-08-10 08:26] #372 closed

[2016-08-10 11:06] davidfestal commented on #313
I assume this one can be closed also. wdyt @bjansen  ?

[2016-08-10 11:07] davidfestal commented on #380
let me close it. And please reopen it if you still encounter a problem @bjansen and @gavinking

[2016-08-10 11:07] #380 closed

[2016-08-10 11:20] gavinking commented on #313
Yes, it's fixed, AFAICT.

[2016-08-10 11:20] #313 closed

[2016-08-11 12:05] #386 closed

[2016-08-11 13:31] gavinking commented on #386
Perfect, thanks man, that's much better!

[2016-08-11 13:45] gavinking opened #397 "navigation to overriding method from Java code takes me to decompiled code"
If I open a Java method hierarchy on `ChooseByNameContributor.getNames()` or do Navigate > Implementations, and then navigate to `CeylonGotoContributor`, I get taken to the decompiled `.class` file instead of the Ceylon source.

I *suppose* that this is a consequence of #292 or perhaps #334. Can you confirm, @bjansen?

[2016-08-11 13:46] bjansen commented on #397
Most likely, yes.

[2016-08-11 13:48] gavinking commented on #397
OK, thanks.

[2016-08-11 14:17] #101 closed

[2016-08-11 14:17] gavinking commented on #101
Fixed!

[2016-08-11 14:21] gavinking commented on #263
@bjansen if this is hard to fix, it can be reassigned to the next release. I assume that this is a different bug to the one initially reported, which only affects projects with multiple Ceylon modules.

[2016-08-11 14:25] gavinking opened #398 "Ceylon declarations from libraries occur twice in Navigate > Class for project with multiple Ceylon modules"
See https://github.com/ceylon/ceylon-ide-intellij/issues/263#issuecomment-234733659. Declarations like `ArrayList` from imported modules like `ceylon.collection` are shown multiple times in Navigate > Class.

[2016-08-11 14:25] gavinking commented on #263
Since this issue description is confusing, I'm closing this, after opening #398.

[2016-08-11 14:25] #263 closed

[2016-08-11 14:31] gavinking commented on #342
I'm not experiencing it anymore. I'll reopen if it reappears.

Thanks!

[2016-08-11 14:31] #342 closed

[2016-08-11 15:11] gavinking opened #399 "CME during completion"
I occasionally experience this:

[code]

[2016-08-11 15:17] gavinking opened #400 "eliminate inefficiency in obtaining proposals from current module"
As per https://github.com/ceylon/ceylon-ide-intellij/commit/588b792dfcd808e590f51189722d2aa2928f1ab1#commitcomment-18607325, the commit @88b792dfcd808e590f51189722d2aa2928f1ab1 is very inefficient.

We should instead iterate the packages of the current module.

[2016-08-11 21:47] davidfestal opened #401 "New exception during dependency resolution"
this one is new, and is probably related to the last changes @bjansen made on dependencyresolution to avoid intermediate indexing:
[code]

[2016-08-12 09:01] bjansen commented on #399
I just got one too.

[2016-08-12 09:19] bjansen commented on #369
I think I fixed the completion part, I'll take a look at the Navigate > Class thing. It's actually not "nonsense decompiled code", but rather the standard (Java) documentation for `PsiClass`es, which by default shows annotations.

[2016-08-12 10:47] gavinking commented on #369
Did you see the code I pushed on the branch? That will get you partway there.

Sent from my iPhone

[2016-08-12 10:50] bjansen commented on #369
Yes, I already merged it on master to finish your work.

[2016-08-12 11:47] gavinking opened #402 "npe in Extract Value"
[code]

[2016-08-12 12:15] gavinking commented on #402
I have sorta fixed the NPE, but I'm not getting any proposed names, since the root cause is I'm getting passed a `null` instead of a node I use to propose names from. This used to work, IIRC.

[2016-08-12 16:37] gavinking commented on #402
Fixed.

[2016-08-12 16:37] #402 closed

[2016-08-12 23:19] gavinking opened #403 "can't auto-complete ObjectArray, IntArray, etc"
These XxxArray types are considered to belong to `java.lang`. But while I can complete them within an `import` statement, I can't complete them inside regular code if they're not already imported.

[2016-08-16 09:37] #400 closed

[2016-08-16 09:39] bjansen commented on #307
I'm closing this because there was a significant improvement for non-ceylon artifacts. We can open another issue if we find other bottlenecks in the future.

[2016-08-16 09:39] #307 closed

[2016-08-16 10:31] gavinking commented on #307
Yay!

[2016-08-16 12:47] davidfestal commented on #403
They should probably be explicitly loaded when initializing the model loader,, etc ...
At least it's done like that in the eclipse plugin afair

[2016-08-16 13:18] gavinking commented on #400
Thanks.

[2016-08-16 14:03] gavinking commented on #355
I'm still having problems here. It might possibly be related to this error:

[code]

[2016-08-16 14:06] gavinking commented on #355
Yep, @davidfestal, that error definitely appears to be the cause.

[2016-08-16 14:16] #403 closed

[2016-08-16 14:44] gavinking commented on #403
Thanks.

[2016-08-16 16:08] gavinking opened #404 "View > Parameter Info has no special handling for defaulted or variadic params"
View > Parameter Info should indicate defaulted and variadic parameters.

[2016-08-16 16:34] bjansen commented on #404
Maybe this can wait until 1.3?

[2016-08-16 16:46] gavinking commented on #404
I assigned it to myself.

[2016-08-16 16:58] #404 closed

[2016-08-16 16:59] gavinking commented on #404
Fixed.

[2016-08-17 09:38] davidfestal opened #405 "Memory optimizations"
Profiling shows that during full builds, memory pressure is very high (21 GB allocated during a full model update of `ceylon-ide-common` + `ceylon-ide-intellij`).
This probably makes some other CPU-related optimizations insignificant compared to the time spent in memory allocation / garbage collection.
We should look for possible memory optimizations.

[2016-08-17 09:40] davidfestal commented on #405
The first optimization that would gain 25% memory pressure (5GB / 21 GB)  is https://github.com/ceylon/ceylon/issues/6430.

[2016-08-17 14:07] davidfestal opened #406 "forbidden Read access in `CeylonImplementationsSearch`"
[code]

[2016-08-17 14:10] davidfestal opened #407 "Null check in Documentation provider"
[code]

[2016-08-17 14:18] gavinking commented on #407
I think I have already fixed this locally.

[2016-08-17 16:17] gavinking commented on #407
This _should_ be fixed.

[2016-08-17 17:05] gavinking opened #408 "don't propose java.lang.Object and friends"
Autocompletion should ignore the following types:

- `java.lang.Object`
- `java.lang.Throwable`
- `java.lang.Exception`
- `java.lang.annotation.Annotation`

[2016-08-17 18:16] #408 closed

[2016-08-17 18:16] gavinking commented on #408
I fixed this. @bjansen it looks like we were working on it simultaneously.

[2016-08-18 00:13] gavinking commented on #356
Propose @fbb9c4a which fixes this.

[2016-08-18 00:13] gavinking commented on #353
Propose @fbb9c4a which fixes this.

[2016-08-18 11:23] gavinking commented on #369
@bjansen probably the logic needed to finish this issue is already there in `CeylonClsFile.getNavigationElement()`, if I'm not mistaken.

[2016-08-18 12:45] gavinking commented on #369
This should now be fixed, as soon as @davidfestal gives us a way to obtain a `PhasedUnit` for any Ceylon file in a source archive.

I have reassigned the issue to you, David.

[2016-08-18 12:46] davidfestal commented on #369
yes, Thanks !

[2016-08-18 13:40] gavinking commented on #353
Fixed.

[2016-08-18 13:40] #353 closed

[2016-08-18 13:41] gavinking commented on #356
Fixed.

[2016-08-18 13:41] #356 closed

[2016-08-19 09:26] gavinking commented on #393
This should now be fixed.

[2016-08-19 09:26] #393 closed

[2016-08-19 09:35] gavinking opened #409 "navigation to methods of String, Integer, Float, Character takes me to decompiled Java code"
For any of the language module classes like `String`, `Integer`, `Float`, and `Character`, navigation to a method like `plus()` or `compare()` takes me to decompiled bytecode. For example, in:

    1.plus(1)

[2016-08-19 09:39] gavinking commented on #285
@davidfestal I have not seen this for a long time, so I assume it's fixed now?

[2016-08-19 09:45] gavinking commented on #407
The `generateDoc()` method has now been completely rewritten. And I have not seen this error recently. So closing.

[2016-08-19 09:45] #407 closed

[2016-08-19 15:28] bjansen commented on #397
I pushed a fix that allows to navigate to source for regular methods like the one in your description, but I need to make more things in #292 to add support for getters/setters etc.

Also, we have the same problem as in #369, i.e. we can't access the model from a `CeylonFile` located in a .src archive unless that file is currently open in an editor, which means "find implementations" currently onl

[2016-08-19 16:10] gavinking commented on #285
@davidfestal Ping?

[2016-08-19 16:11] gavinking commented on #397
@bjansen 👍

[2016-08-19 16:27] gavinking opened #410 "completions of members annotated 'aliased'"
The `lookupString` is wrong for completion proposals for members with `aliased` annotation, since `newDeclarationLookup()` always uses `declaration.nameAsString`, not the alias.

[2016-08-19 16:31] gavinking opened #411 "Build > Rebuild Project followed by Run results in unnecessary Make"
If I do Rebuild Project and then immediately run the project, an additional, unnecessary Make happens.

[2016-08-19 16:44] davidfestal commented on #285
I've seen one recently. But it might be expected since I renamed a unit and then had a duplicate declaration error for some minutes.
Anyway, you can close it, and if I observe such warnings in my log when using the plugin, I'll still debug it.

[2016-08-19 16:53] #410 closed

[2016-08-19 16:53] gavinking commented on #410
Fixed.

[2016-08-19 17:47] gavinking opened #412 "in Navigate > Class deprecated declarations should have strikeout"
@bjansen I suppose I can implement this in `CeylonClassDecorator`, right?

[2016-08-19 18:36] gavinking commented on #412
Still not completely working because the `PsiClass` representing `arrayOfSize_` is not marked deprecated. I guess because the annotation is on the method, not the class.

[2016-08-19 18:45] gavinking commented on #412
Done, I believe.

[2016-08-19 18:45] #412 closed

[2016-08-19 23:42] gavinking commented on #385
Note that the work in @beae534653155b994d4eeeaf115e90c62d8ef676 and @3477731f718a7c830109be42fb22d90bc065a16f needs to be ported to the `migrate_compiled` branch.

[2016-08-21 11:54] gavinking opened #413 "missing inherited members in structure"
In the popup Structure (but _not_ the Structure window!) we inherited members are shown for `ListMutator` but not for `MutableList`.

[2016-08-21 12:01] gavinking commented on #413
Oh, wait, the IDEA Java Structure has the same bug. So this is a bug in IDEA, not in our plugin.

[2016-08-21 17:37] bjansen commented on #413
I think it's the same problem as the third bullet in https://github.com/ceylon/ceylon-ide-intellij/issues/76 ?

[2016-08-21 17:57] gavinking commented on #413
Yes, agreed. So I'll close this as a dupe.

[2016-08-21 17:57] #413 closed

[2016-08-22 08:51] bjansen commented on #409
Possibly because the functions are `native`? I'll take a look at how navigation is done in ceylon-ide-eclipse.

[2016-08-22 11:07] gavinking commented on #409
Well yeah they are native and implemented in Java. What would be perfect is if the IDE gave me the choice of the Ceylon header and the native Java impl, just like in Eclipse.

[2016-08-22 13:17] davidfestal commented on #405
The profiler doesn't show any obvious hotspot anymore. let me close this.

[2016-08-22 13:17] #405 closed

[2016-08-22 13:20] #285 closed

[2016-08-22 13:22] davidfestal opened #414 "Disable model update during the Make / Build actions."
To keep track of something asked by @gavinking some times ago.

[2016-08-22 14:23] gavinking commented on #219
@FroMage I have assigned this issue to you.

[2016-08-22 14:24] gavinking commented on #210
@davidfestal can we close this?

[2016-08-22 14:24] gavinking commented on #359
Reassigning to 1.3.

[2016-08-22 14:53] gavinking commented on #397
Reopening, because it's still not working for the case of *shortcut refinement*. Try with `BreadcrumbsInfoProvider.getElementTooltip()`, navigating to `CeylonBreadcrumbsInfoProvider`.

[2016-08-22 16:41] gavinking commented on #399
Should be fixed now.

[2016-08-22 16:41] #399 closed

[2016-08-23 02:50] jvasileff opened #415 "confusing repo directory config for newly imported project w/o existing iml"
I successfully imported an existing Ceylon project directory that did not already have an `.iml` config, but ran into some runtime problems.

Comparing the generated `iml` to one generated by created a *new* Ceylon project, the imported one is missing the following output directory override:

[code]

Without the above, intellij compiles modules to `./out/production/ceylon-simplecli`. But I ran int

[2016-08-23 03:31] jvasileff opened #416 "bad experience with `ceylon.test/1.2.2` & JavaScript compilation enabled"
There is some overlap with this issue and https://github.com/ceylon/ceylon/issues/6444, but regardless, there seems to be something special about how the `ceylon.test` module is handled that results in confusing errors.

With the following:
[code]
and
[code]
The program runs fine on the JVM if:

1) Compile to JS is disabled, *or*
2) The `ceylon.test` import is changed to `1.2.3`

But, as is, with

[2016-08-23 03:42] jvasileff opened #417 "call a project a project"
If you right-click on a project, there are a bunch of options with the word "Module", like "Open Module Settings". But to me, the outermost container is a project, not a module.

[2016-08-23 07:18] bjansen commented on #417
That's standard IntelliJ terminology, not something we control. Compared to Eclipse:

* workspace == project
* project == module

[2016-08-23 07:18] #417 closed

[2016-08-23 07:19] bjansen commented on #417
See this guide for more information: https://www.jetbrains.com/help/idea/2016.2/eclipse.html

[2016-08-23 09:54] bjansen commented on #397
Please report remaining bugs in #292 instead of reopening this one, they are duplicates anyway.

[2016-08-23 11:56] gavinking commented on #397
@bjansen OK, good, much better. The remaining problem case is `languages` refining `getLanguages()`, but I guess we can continue discussion of that case in #292.

[2016-08-23 12:12] gavinking commented on #397
Wait, @bjansen, #292 actually has nothing to do with this issue. #292 is specifically about *binary* declarations, where member navigation from Java isn't working *at all*. (Navigation to types *is* working, it seems.)

*This issue* includes (and is most important for) navigation to *project source declarations*, where navigation to implementing members from Java  *does work*, except for the case

[2016-08-23 12:18] gavinking commented on #292
To summarize the current status of this issue:

- navigation from Java code to _types_ declared in Ceylon binary archives is working.
- navigation to *members* of these Ceylon types does not work at all, and takes me to the decompiler.

This seems to be exactly the same behavior I observe with Navigate > Symbol, so it seems to me that this issue is actually an exact dupe of #334.

However, note th

[2016-08-23 12:19] gavinking commented on #334
Answered my own question [here](https://github.com/ceylon/ceylon-ide-intellij/issues/292#issuecomment-241712578). Yes, it's the same issue.

[2016-08-23 12:20] bjansen commented on #397
They *are* the same issue. ceylon-ide-intellij is a Java project that imports `ceylonCode.car`, so it's also binary declarations for which we need to attach sources.

For Ceylon functions that override Java methods, there is indeed another problem for which we should open another issue though: if you open the Java interface and click on the `I↓` icon in the gutter, it won't even *show* the Ceylon

[2016-08-23 12:22] bjansen commented on #397
To clarify: navigation from Java code to Ceylon code, and navigation done via "find implementations" is exactly the same feature when it comes to Ceylon code in .car archives, which is what #397 and #292 are about.

[2016-08-23 12:24] gavinking commented on #397
@bjansen That doesn't make sense. Navigation to Ceylon member declarations for Java code doesn't work _at all_. Here, it only doesn't work in the case of attributes.

[2016-08-23 12:25] bjansen opened #418 "Find Implementations not showing Ceylon functions"
I have a Ceylon module that imports the IntelliJ SDK and defines this class:

[code]

When I open `ChooseByNameContributor` and click on the `I↓` icon on any method, it doesn't show `Foo` in the results.

[2016-08-23 12:28] bjansen commented on #397
Dammit, those titles are such vague that they look like the same issue

[2016-08-23 12:34] gavinking commented on #397
I agree the titles suck.

FTR, I think I see the cause of the problem `NavigationPsiClass.wrapMethods()` simply ignores `AnyAttributes`, so doesn't create `NavigationPsiMethod`s for getters and setters.

@bjansen given that, this should be easy to fix.

[2016-08-23 12:35] bjansen commented on #397
If both Ceylon and Java declarations are in the same project, that's covered by #350.

If a Java project depends on a .car, and Java code calls Ceylon members, this is covered by #292. By default, IntelliJ will open the decompiled class, and we need to attach Ceylon source to that. I already attached classes and simple functions, but I still need to add getters and setters, and perhaps a few other

[2016-08-23 12:36] gavinking commented on #397
@bjansen No. Read my previous comment.

[2016-08-23 12:36] bjansen commented on #397
yes, that's exactly what I have to do to finish #292

[2016-08-23 12:36] gavinking commented on #397
Then why does navigation to Ceylon methods from Java code not work?

[2016-08-23 13:49] bjansen opened #419 "IDE hanged after a modification to a Java file"
I was modifying a Java file in `plugin-ceylon-code`, and when I was trying to open a class using Navigate > Class, the plugin tried to update the model automatically while I was typing in the search box, and the IDE stopped responding:

[code]

[2016-08-23 15:57] bjansen commented on #292
List of things we can navigate to, from Java code:

* [x] classes/interfaces
* [x] simple functions
* [x] attributes (getters and setters)
* [x] functions with generics
* [ ] functions with default arguments
* [ ] `default` functions inherited from another file

[2016-08-23 17:01] davidfestal opened #420 "NPE"
[code]

[2016-08-23 17:09] gavinking commented on #420
Seriously? How could `td.members` be null??

[2016-08-23 17:13] davidfestal commented on #420
no, it's probably one of the iterated members that is `null`

[2016-08-23 17:14] davidfestal commented on #420
I prepared a proposed fix by explicitly adding `Declaration?` in the for loop, and checking for existence inside the loop.

[2016-08-23 17:20] gavinking commented on #420
Well that should never happen. That would mean a bug in the model loader.

Well no, that's the crap way to fix it. Please don't do it that way. Much better to fix the underlying cause.

[2016-08-23 17:22] davidfestal commented on #420
well, it was when starting a word and having syntax errors, which made me think of an incomplete model, but not necessarily of a model loader problem.

But OK, I'll revert my commit if you prefer.

[2016-08-23 17:24] gavinking commented on #420
Well nothing should ever call `addMember(null)`, and anything that does is going to cause lots of other npes.

[2016-08-24 08:58] #384 closed

[2016-08-24 10:22] gavinking commented on #384
Thanks!

[2016-08-24 11:37] gavinking opened #421 "Find > Highlight Usages in File broken for Tree and Visitor"
Find functionality doesn't work quite right for certain types, namely `Tree` and `Visitor` in `com.redhat.ceylon.compiler.typechecker.tree`. It's easiest to see this with Highlight Usages in File. But even just regular occurrence highlighting demonstrates the problem:

<img width="749" alt="screen shot 2016-08-24 at 1 36 27 pm" src="https://cloud.githubusercontent.com/assets/579974/17929301/dbcaa2

[2016-08-24 12:15] bjansen commented on #421
That's a very odd bug.

[2016-08-24 12:39] gavinking commented on #421
Yep.

[2016-08-24 12:47] gavinking commented on #409
This looks like it's fixed to me? @bjansen is there a reason you didn't close it yet?

[2016-08-24 12:49] bjansen commented on #409
Yes, but I still have to add the possibility to navigate to the header or the Java impl. For some reason, `declaration.native == false` so it doesn't show the popup.

[2016-08-24 12:58] gavinking commented on #409
I'll open a separate issue for that. Closing this one. Thanks.

Model loader bug?

[2016-08-24 12:58] #409 closed

[2016-08-24 13:00] gavinking opened #422 "navigation to Java implementations of String, Integer, Float, Character, etc"
When navigating to one of these special language module types, or to their members, we should offer the option to go to the native Java implementation instead of to the header, just like we offer the option of navigating to native implementations written in Ceylon.

[2016-08-24 13:00] gavinking commented on #409
#422

[2016-08-24 14:35] FroMage opened #423 "NoSuchMethodError on AS"
[code]

[2016-08-24 14:37] FroMage opened #424 "InvalidClass in AS"
[code]

[2016-08-24 14:38] FroMage opened #425 "StringIndexOutOfBounds"
[code]

[2016-08-24 14:40] FroMage opened #426 "Configure Ceylon for this module does not create source folder?"
Pretty sure it used to.

[2016-08-24 14:40] FroMage commented on #426
Well, perhaps it's due to the other errors I reported.

[2016-08-24 15:41] bjansen commented on #425
In Android Studio?

[2016-08-24 15:44] bjansen commented on #426
Hum yes it should :)

[2016-08-24 16:19] FroMage commented on #425
Yes

[2016-08-24 19:34] gavinking commented on #394
I have not seen this one recently, and I can't seem to reproduce it, so I'm closing this for now.

[2016-08-24 23:36] davidfestal opened #427 "Provide a non-blocking way to wait for an up-to-date analysis result/phased unit associated to a `CeylonFile`"
This is mainly for https://github.com/ceylon/ceylon-ide-intellij/issues/369, but also for the `Search Implementations`, etc ...

[2016-08-25 13:25] bjansen opened #428 "CME during completion"
[code]

[2016-08-25 13:27] bjansen opened #429 "AIOOBE during completion"
[code]

[2016-08-25 14:30] gavinking commented on #429
Rebuild the compiler.

[2016-08-25 14:30] #429 closed

[2016-08-25 14:34] gavinking commented on #429
For reference @6f4f12457576fccd3e18cd7f9ba132343cb193fc

[2016-08-25 14:35] gavinking commented on #428
Wait: isn't this a dupe of the bug I just fixed yesterday? You didn't rebuild, did you?

[2016-08-25 14:38] gavinking commented on #428
This is #399 I think, which should be fixed.

[2016-08-25 14:38] #428 closed

[2016-08-25 15:25] bjansen commented on #428
It's a different stack trace

[2016-08-25 15:39] gavinking commented on #428
Nevertheless, I'm sure it's the same bug, unless you actually observed it with a clean build of Ceylon.

[2016-08-25 15:42] bjansen commented on #428
No, from yesterday morning.

[2016-08-25 15:43] gavinking commented on #428
So I think I was right to close it.

[2016-08-25 15:44] gavinking commented on #399
Wait, that commit says _three days ago_, WTF?

[2016-08-25 15:47] gavinking commented on #428
I mean, it is _impossible_ that line 126 of `Unit.java` could this exception. You were using an at-least-days-old build of the Ceylon compiler, I'm certain.

[2016-08-25 15:52] bjansen commented on #428
That's possible, sometimes I don't rebuild the whole thing, just the IDE.

[2016-08-26 15:25] #423 closed

[2016-08-26 15:26] #425 closed

[2016-08-26 15:49] bjansen commented on #426
It seems it was indeed caused by #425 or #423, because it's now working correctly again.

[2016-08-26 15:49] #426 closed

[2016-08-26 22:56] gavinking commented on #346
This is now #422. Closing.

[2016-08-26 22:56] #346 closed

[2016-08-29 00:33] DiegoCoronel opened #430 "IDE freeze for a project with multiples modules and overrides"
I Tried to configure this [project](https://github.com/DiegoCoronel/ceylon-spring-boot) but it takes too long to respond.. also, it was the only project i wasnt able to configure in Intellij

[2016-08-29 08:43] bjansen commented on #424
Actually there's nothing related to Ceylon IDE in this stack trace, it looks like this is caused by one of JetBrains' plugins, so I'm closing this one as invalid.

[2016-08-29 09:41] FroMage commented on #424
`com.intellij.psi.PsiInvalidElementAccessException: Element: class com.intellij.psi.impl.compiled.ClsFileImpl because: jar:///home/stephane/.AndroidStudio2.1/config/plugins/CeylonIDEA/classes/embeddedDist/repo/ceylon/language/1.2.3/ceylon.language-1.2.3.car!/ceylon/language/digitOrSign_.class is invalid`

[2016-08-29 09:41] FroMage commented on #424
You must have missed this ;)

[2016-08-29 09:44] bjansen commented on #424
Right, some plugin tried to load a file which happens to be in language.car, that doesn't mean it's our fault if this plugin is broken :)

[2016-08-29 09:56] FroMage commented on #424
Well, can't we do anything to prevent this crash? The class is not invalid…

[2016-08-29 10:25] bjansen commented on #424
The message is a bit misleading, the class is valid, but the containing file has been invalidated, most likely because its content changed and was reindexed by IntelliJ.

@davidfestal do you think this is related to our own `VirtualFileListener`? (it looks like the stack involves file change events)

[2016-08-29 10:45] davidfestal commented on #424
I don't see our listener in the stack trace. So nothing shows our listener in involved. We should debug this with an exception breakpoint, and see where this invalid PSI element comes from.

[2016-08-29 12:06] lukedegruchy opened #431 "Module build artifacts exist when importing Eclipse project causing run output not to reflect changes"
When importing an Eclipse project into IntelliJ some build artifacts remain that prevent changes to Ceylon code from being reflected.  Basically, any changes since importing from Eclipse will not be reflected.

1. create a simple Ceylon project in Eclipse with a single model with a run() function that prints out "1.0"
2. import the project into IntelliJ and go through some dialogs to migrate the p

[2016-08-29 12:10] davidfestal commented on #427
Done. I'll open an issue for the tests I'd like to implement to validate the behavior in all possible use-cases. However the useful use-cases are working correctly already.

[2016-08-29 12:10] #427 closed

[2016-08-29 12:12] davidfestal opened #432 "Tests for #427"
I'd like to write some tests for #427 (Provide a non-blocking way to wait for an up-to-date analysis result/phased unit associated to a `CeylonFile`), to validate the behavior in all possible cases:
- pooled Thread / UI thread
- synchronous or asynchronous wait
- edited files, project files or source archive files.

[2016-08-29 12:14] davidfestal commented on #369
@gavinking : this works now for me after using the result of #427

Do you confirm ?

[2016-08-29 12:16] davidfestal commented on #397
This works now for me after my last commit that uses the result of #427.

For example navigating from `AbstractMap.containsKey()` to `JavaMap` through the `go to implementations` brings me the the Ceylon source code of the `JavaMap.containsKey()` method.

@gavinking @bjansen do you confirm?

[2016-08-29 12:29] FroMage commented on #219
Seems fixed, thanks

[2016-08-29 12:29] #219 closed

[2016-08-29 12:30] FroMage commented on #350
Wait, isn't this going in 1.3.0? I thought it was part of the Android support priority issues? How hard is that issues estimated at?

[2016-08-29 12:31] bjansen commented on #350
It's not that easy to implement, and requires lots of testing.

[2016-08-29 12:31] FroMage opened #433 "Android: generated `module.ceylon` import has invalid version"
When I converted my Android module to Ceylon, I got `import "com.android.support.appcompat-v7" "23.1.1";` but my `build.gradle` referenced it as `compile 'com.android.support:appcompat-v7:23.4.0'` so it did not work. The `module.ceylon` file should respect the imports from the `build.gradle` file.

[2016-08-29 12:32] gavinking commented on #369
LGTM, except for one minor thing which I'll open a separate issue for. Thanks!

[2016-08-29 12:32] #369 closed

[2016-08-29 12:34] FroMage opened #434 "Android: newly Ceylon-converted project does not allow deleting Java file"
When I convert my new AS project to Ceylon, I have `MainActivity.java` and `MainActivity.ceylon`. I understand why we're not deleting the java files during the conversion, but when I manually delete it, AS will tell me it's still referenced, leading me to think something went wrong. It's not entirely true, because I have a `MainActivity.ceylon`. Perhaps this is a consequence of #350?

In any case

[2016-08-29 12:34] gavinking opened #435 "documentation popup in completion list gets stuck fetching documentation"
This is pretty minor, but the *very first* time I pull up the documentation popup from a completion list, I get a window that says "Fetching Documentation...", but never actually fetches it until I change the selection and go back to the original selection.

[2016-08-29 12:34] FroMage commented on #350
Define `not that easy`? Are we talking days, weeks or months?

[2016-08-29 12:36] davidfestal commented on #355
@gavinking : I didn't succeed in reproducing this one: when trying to navigate to `JavaMap` I don't have any error.
And the last stacktrace you posted is obsolete compared to the master branch.

If you can still reproduce it, could you post a new stacktrace based on the last master ? This will help  me to understand what's happening here. Thanks !

[2016-08-29 12:46] bjansen commented on #434
It's referenced in the manifest, so I guess even when #350 is fixed, IntelliJ will be able to navigate from the XML file to either of the two versions of the activity, so I think it will always say that the class is referenced...

We can either automatically delete the original Java version, or perhaps give a different name to the Ceylon version?

[2016-08-29 12:58] bjansen commented on #350
I'd say at least a week

[2016-08-29 13:00] FroMage commented on #350
@gavinking WDYT?

[2016-08-29 13:02] FroMage commented on #434
Well, how is this file generated? If we're converting a real existing Java project, it's likely we don't want to remove any Java activities. Or even if that file has already been modified. Perhaps we should give it another name and modify the XML file so that it points to the new Ceylon version instead?

[2016-08-29 13:08] bjansen commented on #434
No, we're not converting the project from Java to Ceylon, we're configuring it to add support for Ceylon declarations (add a few things in the gradle build file, rebuild to setup the local repository, create a new *hardcoded* Ceylon activity, and do a full model update). So I think the best approach is to give the activity another name and leave the Java file as is.

[2016-08-29 13:10] bjansen commented on #434
It's like "Add Ceylon nature" + create a new Ceylon file, in Eclipse terms.

[2016-08-29 13:10] gavinking commented on #397
No, it's still not working for the thing in the original issue description: `ChooseByNameContributor.getNames()`.

[2016-08-29 13:11] bjansen commented on #434
We *could* convert the main activity from Java to Ceylon, but it's very likely that the converter will produce slightly invalid code that will break the build.

[2016-08-29 13:12] FroMage commented on #434
Leave the Java file, sure. But what about updating the XML file to point to the new Ceylon activity?

[2016-08-29 13:16] gavinking commented on #350
Well as I understand it, the compiler/IDE still doesn't fully completely support the *compilation* of Java files that reference Ceylon files *in the the same project*. If that's the case, it doesn't seem completely unreasonable to slip this issue.

(However, I agree that for Android development the lack of support for navigation from XML is a pain.)

[2016-08-29 13:17] gavinking commented on #355
@davidfestal run IntelliJ from IntelliJ and you will pretty quickly be able to reproduce it.

[2016-08-29 13:20] davidfestal commented on #355
You mean run IntelliJ with the ceylon-ide-intelliJ project opened ? Hey, that's what I've been doing for weeks ! I've been developing common *and* the intellij plugin inside IntelliJ for many weeks now ;-)

[2016-08-29 13:20] bjansen commented on #434
I can think of two use cases:

* the user creates a brand new project, clicks "add Ceylon support" and writes most of the app in Ceylon
* the user has an existing project, and wants to play with Ceylon, so he clicks "add Ceylon support" and adds Ceylon code on top of existing code

I think in the second case, the user will want to keep the XML file intact, because the *main* activity might still b

[2016-08-29 13:20] FroMage commented on #434
Fine by me, excellent.

[2016-08-29 13:23] gavinking commented on #355
@davidfestal No I mean run the `ceylon-ide-intelliJ` project from IntelliJ.

[2016-08-29 13:26] davidfestal commented on #355
Ah, OK, strange that it would be related to *running* the project inside IntelliJ, but let me try this.

[2016-08-29 13:28] gavinking commented on #355
Well not really strange, since `JavaMap` is used lots of times in the `ceylon-ide-intelliJ` and `ceylon-ide-common` projects.

[2016-08-29 13:45] FroMage commented on #350
Well, it's more that the file shows an error, because the declaration is considered missing. It also causes an error when running the application saying the activity could not be found. It works, though, so the error is misleading.

As for Java files that reference Ceylon files in the same project, it seems orthogonal to this issue, IMO.

[2016-08-29 13:48] gavinking commented on #394
I just observed it again.

[code]

[2016-08-29 13:49] gavinking commented on #355
@davidfestal here is the updated stack trace:

[code]

[2016-08-29 13:51] davidfestal commented on #355
Thanks !

[2016-08-29 13:52] bjansen commented on #397
Oops, I might have broken something...

[2016-08-29 14:01] gavinking commented on #394
Hrm. I wonder if this is because `DeclarationWithProximity` doesn't override `equals()` and `hashCode()`?

[2016-08-29 14:19] #397 closed

[2016-08-29 14:20] davidfestal commented on #397
OK, this was another problem then ?

[2016-08-29 14:20] bjansen commented on #397
yes

[2016-08-29 14:24] FroMage opened #436 "Android: NPE in Activity Preview Window."
With a Ceylon project with a single Ceylon activity, if I open the `activity_main.xml` file I get this exception in the preview window:

[code]

Apparently that's because it tries to invoke the Ceylon activity to see how it renders. Perhaps it's related to the fact that it can't "see" the activity class in question. Or it needs something else set up? I've no idea how we can trick AS into running i

[2016-08-29 14:25] gavinking commented on #394
Nope, not that :-(

I have no clue!

[2016-08-29 14:48] bjansen commented on #434
Actually, "replacing the main activity" might not be that straightforward, because if we simply replace a name with another in the `<activity>` tag that has the `android.intent.action.MAIN` intent, we may end up with a "corrupt" manifest (i.e. tags or attributes that don't make sense for the new activity). Perhaps we should let users adjust the manifest by themselves, that way we won't have to gue

[2016-08-29 14:56] davidfestal commented on #355
@gavinking: do you confirm it's fixed now ?

[2016-08-29 15:01] FroMage commented on #434
OK, fair enough.

[2016-08-29 15:08] gavinking commented on #394
Fixed, but I don't understand why my fix works....

[2016-08-29 15:12] davidfestal commented on #210
After looking a bit more into it, we can close this. `dynamic is not supported on the JVM` error messages are also there under Eclipse if uncheck the JS backend from the project properties.

The real thing here is that the enabled JS /JVM backends are not synchronized between Eclipse and Intellij configurations.

We can close this.

[2016-08-29 15:12] #210 closed

[2016-08-29 15:26] gavinking commented on #355
Yes, LGTM. Thanks!

[2016-08-29 15:26] #355 closed

[2016-08-29 15:26] gavinking commented on #394
Damn it, _not_ fixed!

[2016-08-29 15:45] bjansen opened #437 "NoClassDefFoundError in Android Studio"
[code]

[2016-08-29 15:45] davidfestal commented on #435
@gavinking according to the work load we have for releasing at the end of the week, do you agree if we postpone this for 1.3.5 ?
... knowing that, while the annoyance is minor, fixing the bug might involve time to debug and find out exactly what's really happening.

[2016-08-29 16:01] gavinking commented on #394
OMG, fixed by ceylon/ceylon-ide-common@f2ab5d9d5055763bfd6ef4e72353c24c6557b7e9. I just wasted 2 hours on a one-character spelling error.

[2016-08-29 16:01] #394 closed

[2016-08-29 16:02] #433 closed

[2016-08-29 16:03] gavinking commented on #435
OK.

[2016-08-29 16:05] davidfestal commented on #435
Thanks !

[2016-08-29 16:06] bjansen commented on #434
To sum up:

* "Configure Ceylon in this module" will create a new Ceylon activity
* existing Java activities won't be modified/deleted
* it's up to the user to change the manifest to declare the Ceylon activity as the "main activity"

So, the only thing that I changed is the name of the Ceylon activity, to avoid a dupe with the Java class.

Is that correct?

[2016-08-29 16:14] bjansen commented on #424
`FileSymbolTablesCache$OCCodeBlockModificationListener` is trying to get the containing file of `digitOrSign_.class`, which has apparently been removed from `ceylon.language`, so of course it fails.

AFAIU, this error could happen with any class removed from any JAR, the fact that it happens to be in one of our archives is simply a coincidence. I think there's nothing we can do here.

[2016-08-29 16:14] #424 closed

[2016-08-29 16:18] davidfestal commented on #437
haha, again an obsolete API in Android Studio.

We could replace that with `ProcessCanceledException`  for the moment I assume.

Ans let the other version commented in the code.

[2016-08-29 16:43] #437 closed

[2016-08-29 18:35] gavinking opened #438 "Navigate > Implementations misses some implementations at startup"
After starting up the IDE, go to `SearchableList`, and then Navigate > Implementations. Some implementations of the interface are missing from the list. (For example, `ArrayList`.)

Now if you do something to force the IDE to know about those types, they will show up next time you use Navigate > Implementations.

[2016-08-29 18:44] FroMage commented on #434
Yes.

[2016-08-29 21:46] gavinking commented on #397
Yaaay, finally fixed!! :)

[2016-08-29 21:52] gavinking opened #439 "navigation to narrowed value"
Given code like:

[code]

Clicking on the second occurrence `x` takes me nowhere. It should take me to the declaration.

[2016-08-29 22:06] #439 closed

[2016-08-29 22:06] gavinking commented on #439
Fixed.

[2016-08-29 22:17] gavinking opened #440 "errors for deleted file in the problems view"
After deleting a Ceylon source file with errors, the errors are never cleaned up in the problems view, and nothing I can do gets rid of them, short of a Restart/Invalidate Caches.

[2016-08-30 07:47] bjansen commented on #397
🎉

[2016-08-30 08:10] davidfestal opened #441 "Blocking behavior when resolving dependencies through CMR"
since commits a3f0bc0aced58eeecd72571f07522c8e4b92244f and 880b6f8a1cda99904a800ca55f675060df3e6eba, the CMR is requested for source artifacts *inside a write action on the UI Dispatch thread*.

This blocks the UI and, if there are some cached binary archive with no associated source, it might systematically try to download it from the network. Now it the network is unstable this might completely

[2016-08-30 08:48] FroMage commented on #424
OK thanks.

[2016-08-30 13:06] bjansen commented on #419
It happened again, the completion popup was showing and I think a model update was about to start at the same time.

[code]

[2016-08-30 16:43] bjansen commented on #419
The second lock was fixed by using `ceylonFile.waitForUpToDatePhasedUnit()?.compilationUnit` instead of `ceylonFile.compilationUnit`.

[2016-08-30 23:01] davidfestal commented on #401
@bjansen : any idea on this one ? do you think this is fixed ? or might still happen ?

[2016-08-30 23:43] davidfestal commented on #430
Since this project has *many* binary dependencies to download on the internet, I assume the freeze was due to https://github.com/ceylon/ceylon-ide-intellij/issues/441

[2016-08-31 03:23] DiegoCoronel commented on #430
Ill try again tomorrow

[2016-08-31 09:06] bjansen commented on #401
I've never had this exception, so I'm not sure...

[2016-08-31 10:01] #406 closed

[2016-08-31 10:10] bjansen opened #442 "CeylonFile.waitForUpToDatePhasedUnit() is super slow"
While testing navigation from Java calls to Ceylon source declarations, the UI sometimes freezes because `CeylonFile.waitForUpToDatePhasedUnit()` takes an incredible amount of time to return (way more than the 4s timeout configured in `CeylonSourceNavigator`).

For example, in `org.intellij.plugins.ceylon.ide.action.CeylonAddingFilesAction`, when I ctrl-click on `projects.getProject()` in line 59,

[2016-08-31 10:58] davidfestal commented on #442
I cannot reproduce the problem, even when a model update is running, or even just after opening the project.

[2016-08-31 16:06] bjansen commented on #430
I confirm this is related to #441. I have a fix that will soon be pushed, and when I open your project, the UI doesn't freeze anymore, but:

* the first time I open the project, it takes a long time to download all the maven dependencies because I don't have them in my local repo (but that's expected)
* the project contains 5 sub-projects, so for each one of them IDEA will instantiate a new Ceylon

[2016-08-31 16:10] #441 closed

[2016-08-31 18:50] davidfestal commented on #442
@bjansen  do you confirm that we can close this one ?

[2016-08-31 21:30] #390 closed

[2016-08-31 21:31] davidfestal commented on #414
@bjansen : do you think you could take it ?

[2016-09-01 07:15] bjansen commented on #414
Not now, but once I'm finished with my current issues, yes?

[2016-09-01 08:17] bjansen commented on #442
In IdeaCeylonParser, I see this code:

[code]

We expect that post-parse action to be called later, to do `future.set(externalPu);` but in fact it's never called when I test the scenario described above.

It looks like IDEA never calls `CeylonParserDefinition.createElement()`, so we don't retrieve+call the post-parse action.

[2016-09-01 09:49] gavinking commented on #438
Great! This seems to have been fixed with the latest changes.

[2016-09-01 09:49] #438 closed

[2016-09-01 09:50] davidfestal commented on #438
cool

[2016-09-01 10:21] bjansen commented on #442
Fixed by e96a32ad5e42d2a6696f3981f5a493f39ffa0faa.

[2016-09-01 10:21] #442 closed

[2016-09-01 10:23] bjansen commented on #434
The activity is now named `CeylonMainActivity`, so I suppose it's enough for this issue.

[2016-09-01 11:39] bjansen opened #443 "Unknown symbol type IdeaCeylonProject kind: 63"
When building ceylon-ide-intellij from within IDEA, I get the following compiler error:

[code]

The CLI works fine though. @FroMage do you have any idea what could cause this?

[2016-09-01 11:54] bjansen commented on #292
I tested it on a lot of calls in ceylon-ide-intellij, and it seems to work pretty well now.

[2016-09-01 11:54] #292 closed

[2016-09-01 12:23] #430 closed

[2016-09-01 13:04] FroMage commented on #443
`63` is `Kinds.ERR`, so it's an erroneous symbol. This sort of thing requires a debugger and a look at the `JCTree` in question. It appears to be a class.

[2016-09-01 13:17] gavinking commented on #418
This is fixed, it seems to me.

[2016-09-01 13:28] bjansen commented on #418
Nope, still not working. It works in ceylon-ide-intellij because it's showing the compiled class in `org.intellij.plugins.ceylon.ide.ceylonCode-current.car`, for which sources are attached when we navigate. But in a pure Ceylon project like the one in the description, it doesn't show anything.

The only thing that works is `⌥⌘␣` on `ChooseByNameContributor`, but clicking on `I↓` for the class does

[2016-09-01 13:40] bjansen commented on #334
Navigation works correctly now, thanks to #292, but we can still customize the results to show Ceylon names and types instead of what's in the compiled methods.

For example,

[code]

would be presented as

[code]

[2016-09-01 14:15] bjansen commented on #327
Moving to 1.3.5 because it's more an inconvenience than a critical bug.

[2016-09-01 14:54] DiegoCoronel commented on #430
Thanks, much better now :)

[2016-09-01 16:20] gavinking commented on #334
I will work on fixing the labels.

[2016-09-01 19:40] davidfestal commented on #414
should I reassign it to you then ?

[2016-09-02 08:01] bjansen commented on #420
I haven't been able to reproduce it, I'll leave a conditional breakpoint in `ClassOrInterface#addMember`, in case it ever happens again. For now, I'm closing the issue as "can't reproduce".

[2016-09-02 08:01] #420 closed

[2016-09-02 09:02] #440 closed

[2016-09-02 09:23] bjansen commented on #414
@davidfestal there's a `BuildManagerListener` interface that I can satisfy in `CeylonModelManager`, do you think this code would be enough?

[code]

[2016-09-02 09:30] davidfestal commented on #414
well, shouldn't you first test that the Idea project matches the project of the `CeylonModelManager` ?

Also if you add a 0 timeout, this will schedule an immediate incremental model update (not full model update though) just after the make. I'm not sure it's necessary, since one will be triggered as soon as some impacted resource / required module is impacted. Maybe you should just pass no argume

[2016-09-02 09:31] bjansen commented on #414
Right, thanks :)

[2016-09-02 09:36] FroMage commented on #434
The file name should be `CeylonMainActivity.ceylon` then, to be consistent. And also that's an activity without layout. You need this file in `app/src/main/res/layout/activity_main_ceylon.xml`:

[code]

[2016-09-02 09:59] #414 closed

[2016-09-02 10:07] gavinking opened #444 "comment folding no longer working"
There is code in `CeylonFoldingBuilder` to fold comments. This is currently not working, but due to  #443 I can't debug it right now.

[2016-09-02 10:11] bjansen commented on #444
As a workaround for #443, you can edit the run config, remove "Make Project" from the "Before launch" list, compile ceylon-ide-intellij from the CLI and run as usual.

[2016-09-02 10:32] gavinking opened #445 "overriding markers broken"
It looks to me like @ce658c89a45ddd8f8e04c8480e21f4bebf1c10bc broke `CeylonLineMarkerProvider().collectLineMarkers()`.

<img width="388" alt="screen shot 2016-09-02 at 12 18 29 pm" src="https://cloud.githubusercontent.com/assets/579974/18201250/515470aa-7109-11e6-98a0-f608db7e34c1.png">

[2016-09-02 11:27] bjansen commented on #434
Fixed.

[2016-09-02 11:27] #434 closed

[2016-09-02 13:13] bjansen commented on #445
The bug is also present in last night's build, which didn't contain this commit. I'm trying to figure out what the real cause is.

[2016-09-02 13:28] gavinking opened #446 "Expression Type should display inferred type of 'function' or 'value'"
Currently I use F1 to see inferred types, but View > Expression Type would be more convenient.

[2016-09-02 13:34] gavinking commented on #444
It seems that the reason for this is that `PsiElement.children` doesn't include comment nodes.

[2016-09-02 14:27] #445 closed

[2016-09-02 14:46] #444 closed

[2016-09-02 14:47] bjansen commented on #444
Yep, and also the algo was broken, I'm not sure it even used to work :/

[2016-09-02 14:50] gavinking commented on #444
Eeek, I was working on this!

[2016-09-02 14:55] bjansen commented on #444
Oops, I thought you abandoned it because you couldn't debug correctly, plus it wasn't assigned to you... sorry :)

[2016-09-02 14:57] bjansen commented on #401
I haven't had this exception since that issue was open, so I'm closing it. We can still reopen it if it happens again.

[2016-09-02 15:35] bjansen commented on #443
Gone, for some reason ¯\\\_(ツ)_/¯

[2016-09-02 16:43] karimiumar opened #448 "Allow manual ceylon model update"
At the moment maximum time is taken up by the "ceylon model update" background processes and makes the IDE unusable.
Is there a way to stop Ceylon Intellij IDE from automatically updating ceylon model. And rather let the user choose Make project or rebuild project?

[2016-09-02 17:04] bjansen commented on #448
Unfortunately, disabling model updates will basically break Ceylon IDE. Changes made to a file won't be visible from other files; code completion, quick fixes, refactorings etc. will likely not work as expected.

Once the project has finished loading, model updates should not happen that often, most of the time is when you switch to another editor, modify a class/function signature, or basically a

[2016-09-03 00:44] gavinking commented on #446
I have implemented this, correctly, I believe, but it doesn't work because there are no `LocalModifierPsi` nodes in the tree!

@bjansen do you know why? Where can I go to fix this?

[2016-09-03 04:35] karimiumar commented on #448
Well I'm experimenting with the JOOQ-Ceylon, the one provided by you along with sakiladb using postgresql.

The model updates keep happening every time a new source file/package.ceylon is added.

Model updates can be disabled in Eclipse IDE too using "Do no automatically build" option and when one builds the project, it just works fine.

What I'm suggesting is to turn off the automatic model updat

[2016-09-03 07:50] bjansen commented on #446
I can see them as `FunctionModifier` and `LocalModifier` in the tree.

<img width="651" alt="capture d ecran 2016-09-03 a 09 47 49" src="https://cloud.githubusercontent.com/assets/281528/18223575/87e896ac-71bb-11e6-8df9-583271afa22a.png">

Not sure what's wrong with your code :/

[2016-09-03 07:51] bjansen commented on #446
Oh I see, they are terminal nodes, so `getParentOfType(psiElement, modifierType)` won't work! You have to do something like `psiElement is CeylonPsi.LocalModifierPsi` instead, I guess.

[2016-09-03 08:58] gavinking commented on #446
@bjansen no, that's not quite it. They aren't instances of `CeylonPsi.LocalModifierPsi` at all, but of `LeafPsiElement`.

Identifiers are terminal nodes too, but there *are* instances of `CeylonPsi.IdentifierPsi` containing the of `LeafPsiElements`, so there's something wrong here, AFAICT.

[2016-09-03 09:02] gavinking commented on #446
<img width="577" alt="screen shot 2016-09-03 at 10 59 17 am" src="https://cloud.githubusercontent.com/assets/579974/18223894/81941588-71c5-11e6-8fbb-f6273c9e76af.png">

vs

<img width="560" alt="screen shot 2016-09-03 at 11 01 21 am" src="https://cloud.githubusercontent.com/assets/579974/18223905/cc657200-71c5-11e6-8dda-f19aae10acfb.png">

Notice how in the case of an identifier there is an instan

[2016-09-03 10:23] bjansen commented on #446
You can check the type of `element.getElementType()` to see if it's an local modifier. Identifiers are manually wrapped in an IdentifierPsi for practical reasons, otherwise they would be leaves. If needed, we could do the same for local modifiers I guess.

[2016-09-03 10:27] bjansen commented on #446
See https://github.com/ceylon/ceylon-ide-intellij/blob/master/plugin-ceylon-code/src/org/intellij/plugins/ceylon/ide/ceylonCode/psi/CompilationUnitTranslator.java#L220

[2016-09-03 12:06] jvasileff opened #449 "specify module version in run command"
For whatever reason, I have `test.ceylon.random/1.2.2` installed in `~/.ceylon/repo`, causing:

[code]

Ideally the run command would have `test.ceylon.random/1.2.3` rather than just `test.ceylon.random`. Note that it is possible to manually add the version in "Edit Configurations..."

[2016-09-03 12:18] karimiumar commented on #448
Well I just found that Ceylon IntelliJ IDE automatically disables Ceylon Model Update with the following message "

				The Ceylon model update triggered an unexpected exception: java.lang.IllegalArgumentException: Argument for @NotNull parameter 'file' of com/intellij/psi/impl/PsiDocumentManagerBase.getLastCommittedDocument must not be null that will be reported in the Event View.
				To avoid pe

[2016-09-03 12:33] davidfestal commented on #448
This is already available in:
- `Tools -> Ceylon -> Disable/Enable automatic model update`
- `Tools -> Ceylon -> Reset Ceylon Model` to run the model update manually.

And in the Ceylon global settings, you can change the automatic model update period.

[2016-09-03 12:35] davidfestal commented on #448
and could you report the error message you encountered in an issue, possibly with the stacktrace that might be available in your event log view or log file ?

[2016-09-03 13:05] karimiumar commented on #448
Well I had to kill the IDE as it was unresponsive and I cannot find any exceptions in my logs that will be of value to you. Also, it created a huge 837 MB .hprof file.

[2016-09-03 14:52] gavinking commented on #446
Well, sure, I know I can do it that way but I don't want to do it that way because then I wouldn't be able to use the nice Union type TermPsi|LocalModifierPsi everywhere in that class. So that solution is sucky.

[2016-09-03 16:32] bjansen commented on #448
You might have to [give IntelliJ a bit more memory](https://intellij-support.jetbrains.com/hc/en-us/articles/206544869-Configuring-JVM-options-and-platform-properties), because the default 500-750MB can cause a lot of GC, which makes the IDE unusable.

FTR, I use `-Xmx3G` to open both `ceylon-ide-intellij` and `ceylon-ide-common` and I have no problem (they pull big dependencies). For more reasona

[2016-09-04 00:24] gavinking commented on #334
This is now essentially done. There are a handful of things I'm unhappy about, including:

1. `decompilerUtil.hasValidCeylonBinaryData(item.getContainingFile().getVirtualFile())` doesn't do the right thing for `$impl` classes, so I needed a fragile workaround.
2. I don't know of any good way to render Ceylon parameter types, but perhaps @bjansen already worked on something like that?
3. Some decla

[2016-09-04 01:10] gavinking commented on #446
@bjansen yes, OK, sure all I needed was to change `_LEAVES_TO_WRAP`. Done.

[2016-09-04 01:10] #446 closed

[2016-09-04 01:26] gavinking commented on #448
So, TBH, I think that @karimiumar does have a point here. We've always been working from the assumption that when you update the model, you need to immediately re-typecheck everything that depends on the change.

And, indeed there's a *huge* advantage to doing that: we get to see errors that result from the change in the Ceylon Problems window, immediately, just like in Eclipse, and *unlike* in th

[2016-09-04 01:32] gavinking commented on #177
This is for 1.3.0!

[2016-09-04 08:30] gavinking opened #450 "support constructors in Navigate > Symbol"
Named constructors, for example, `Array.ofSize()` aren't handled by Navigate > Symbol.

[2016-09-04 08:44] gavinking opened #451 "duplicate results in Navigate > Class + Navigate > Symbol"
Some Ceylon declarations occur multiple times in results for Navigate > Class + Navigate > Symbol, including:

- all toplevel functions
- any interface with a `$impl` class
- all annotation classes

[2016-09-04 08:48] gavinking opened #452 "parameter types for functions in Navigate > Symbol"
It would be nice to display the types of parameters in results for Navigate > Symbol.

[2016-09-04 08:49] gavinking commented on #334
I have opened #452, #451, and #450 as followup issues. I'm closing this one.

[2016-09-04 08:49] #334 closed

[2016-09-04 08:50] gavinking commented on #418
@bjansen OK, now I see.

[2016-09-04 08:53] gavinking opened #453 "linked mode for Extract refactorings is completely broken"
Extract refactorings now no longer give me the option to name the extracted function or value.

[2016-09-04 09:20] #453 closed

[2016-09-04 09:24] gavinking commented on #453
Fixed. But I'm not sure what happened here to make this break.

[2016-09-04 13:53] karimiumar opened #454 "IDE Errors | Not sure if its already reported"
[code]

[2016-09-04 13:54] #177 closed

[2016-09-04 13:54] gavinking commented on #177
Fixed. I just got rid of the '(default module)' node, and but default module stuff directly under the source directory. I think that's fine for now, and much less confusing.

[2016-09-04 15:32] bjansen commented on #453
It could be a change in IntelliJ's internals, perhaps it was still working in older versions of the IDE.

[2016-09-04 16:46] gavinking commented on #453
@bjansen Yeah, that was my hypothesis.

[2016-09-05 03:07] jvasileff opened #455 "failed build due to NPE for fileless warning"
The CLI produces the warning:

but the intellij compiler fails with:

The only possible cause at line 183 is `file` being `null` for `file.getAbsolutePath()`.

[2016-09-05 07:56] davidfestal commented on #448
First, without changing the whole default model update lifecycle, what can be done very easily is adding a menu entry `Update Ceylon Model` with an associated shortcut (I found `ctrl + Alt + U` available under Linux / Gnome, don't know what the equivalent is under Mac). That would allow the user to:
- disable fully the automatic model update, which is already available now
- or increase the automa

[2016-09-05 08:31] davidfestal commented on #448
This would also be consistent with *power-save* mode: in power save mode we should at least disable the automatic model update and, why not, the local typechecking.

[2016-09-05 08:48] gavinking commented on #448
@davidfestal well I think you're sliding over the whole point of what I propose above: I don't want to disable the model update. I want to delay the *typechecking* that happens *after* the central model has been updated. These are actually two distinct things, and the first thing is much faster than the second thing.

I strongly disagree. I would *much* prefer that certain (not all!) refactorings

[2016-09-05 08:50] bjansen commented on #448
I agree with this.

[2016-09-05 08:54] davidfestal commented on #455
@gavinking : why do you assign this to me ? The builder is something @bjansen wrote and maintains afaik. I'mnot against working on it, but I should try work more on eclipse back now for the next release

[2016-09-05 10:00] #395 closed

[2016-09-05 12:13] gavinking commented on #452
I have done what I can. There's not really any good correct way to implement this, but I've hacked into being something that's probably Good Enough.

[2016-09-05 12:13] #452 closed

[2016-09-05 14:07] #415 closed

[2016-09-05 14:07] #431 closed

[2016-09-05 14:11] gavinking commented on #279
I had a look at this issue today. Seems *really* difficult, since `DocLink` nodes are added to the tree by `LiteralVisitor`, and this aren't available at the time the file is parsed, and the things I tried to hack in some additional `PsiElement`s have all failed with assertion failures inside IntelliJ code.

We might need to look at how the Java plugin handles this.

A possible solution might to b

[2016-09-05 14:16] bjansen commented on #279
It's possible to create `CeylonReference`s with a text range that is a subrange of the whole documentation node. The main problem is to be able to detect what part of the comment is currently under the caret, and then could visit the analyzed tree to see if there's a `Tree.DocLink` in that area.

[2016-09-05 14:29] davidfestal commented on #279
isn't it possible to manage this a a sort of sub-language. Let me explain: afaik Idea allows defining several languages for a single file, so that a single Psi node in a given language (ceylon here) would correspond to several Psi nodes in the other language (Ceylon extended support for markdown).

[2016-09-05 14:30] gavinking commented on #279
@davidfestal Yes, that could be a good approach. I'm not sure how hard it is to set up sublanguages however. If it's not so hard, we should try it.

[2016-09-05 14:38] #455 closed

[2016-09-05 14:40] bjansen commented on #455
Fixed. @jvasileff do you have local modifications in this file? Line 183 is something else on master, the error actually occurs on line 170.

[2016-09-05 14:46] jvasileff commented on #455
@bjansen, yes, sorry. The line you fixed looks right.

[2016-09-05 15:40] bjansen commented on #401
https://gitter.im/ceylon/ceylon-ide-intellij?at=57cd90c4fb58646e42337e39

[2016-09-05 15:44] #449 closed

[2016-09-05 15:46] bjansen commented on #449
Fixed. If no `/` is present in the `Ceylon module` field of the run configuration, the plugin will now look for modules matching the given name in the source files, and use the version of the first result.

[2016-09-05 15:49] chochos opened #456 "Strange behavior in JS module"
I have a multimodule project, where one module compiles to JVM and another one to JS (had to fiddle with the .iml files manually because it wouldn't load properly).

The ceylon source files in the JS module show up with a lot of stuff underlined as errors: `shared` annotations, method invocations, method refs, etc. And the editor starts to get really slow after a while.

This is the project I'm wo

[2016-09-05 15:53] bjansen commented on #421
I can't reproduce anymore on that particular case.

[2016-09-05 15:54] jvasileff commented on #449
Thanks!

[2016-09-05 15:56] bjansen commented on #421
@gavinking is it fixed for you too?

[2016-09-05 16:31] jvasileff opened #457 "rename refactoring misses some uses"
After attempting to rename the parameter `x` to `y` below, only the `x` in `is Anything x` is renamed.

Original:
[code]
after:
[code]

Edit: also notice the extra space in `(is Anything y )`

[2016-09-05 16:32] jvasileff commented on #457
Oh, I just noticed that if you try to rename one of the uses (instead of the param or `is` target), you get:

[2016-09-05 17:13] davidfestal opened #458 "Null `Assertion failed`"
[code]

[2016-09-05 17:21] bjansen commented on #416
AFAIU it's not possible to mix modules based on 1.2.2 with modules based on 1.2.3, because each one will try to pull `ceylon.language` with different versions, leading to strange errors like `Cannot find ceylon.language.meta.model::Nothing`. The CLI should produce similar errors I think.

I'm not sure what you want me to fix here. If you use the same version of `ceylon.collection` and `ceylon.test

[2016-09-05 17:22] bjansen commented on #458
Technically this should be in ceylon/ceylon-ide-common

[2016-09-05 17:28] bjansen commented on #416
Now that 1.2.3 has been renamed to 1.3.0, I checked again with the CLI, and it looks like the errors are different now:

[code]

[code]

I have no clue why `ceylon.test "1.2.2"` is trying to pull `ceylon.language/1.2.3`.

[2016-09-05 17:57] gavinking commented on #458
Should be fixed by ceylon/ceylon-ide-common/commit/5594a38d7e70badbbcf8a33d92e095a05dae5c49.

[2016-09-05 17:57] #458 closed

[2016-09-05 18:01] jvasileff commented on #416
This *does* at least work on the JVM, with `dist-overrides.xml` replacing the 1.2.2 language module with 1.2.3.

But yeah, this may be a bad report. I see now that it's *only* the JavaScript compiler complaining, and for some reason I'm now getting the "ImportVisitor" exception on the `compile-js` CLI even though I thought it worked before.

Given the cli error, and that everything works if I disa

[2016-09-05 18:01] #416 closed

[2016-09-05 18:17] gavinking commented on #421
No, it's still happening. In both `FindReferencesVisitor` and `MemberNameCompletion`.

Interestingly, when I first opened the file it didn't happen ... but then after a model update it went back to broken.

[2016-09-05 18:22] gavinking commented on #457
How "hard" is this one, @bjansen?

[2016-09-05 18:24] bjansen commented on #457
I haven't looked yet, but it should be somewhat easy to fix.

[2016-09-06 04:49] jvasileff opened #459 "add compile & run support for the Dart backend"
This is currently working with code on the `dart-backend` branches of `ceylon-ide-common` and `ceylon-ide-intellij`.

* https://github.com/ceylon/ceylon-ide-common/tree/dart-backend
* https://github.com/ceylon/ceylon-ide-intellij/tree/dart-backend

**Remaining Items**

- [ ] Improve warning and error message support
- [ ] Review - am I doing this right?
- [ ] Make IntelliJ's `embeddedDist` match a

[2016-09-06 04:55] jvasileff commented on #459
A working build is available at the link below. The `embeddedDist` includes everything except the Dart VM, which must be installed and available in the `PATH`.

https://www.dropbox.com/s/05ki229zviygtan/CeylonIDEA-dart-4cf2e18.zip?dl=0

[2016-09-06 08:49] davidfestal opened #460 "Null assertion error in `scanJavaIndex`"
[code]

[2016-09-06 09:02] bjansen commented on #459
`embeddedDist` is a verbatim copy of Ant's ouptut!

Option `b)` is the recommended way to implement builders in IntelliJ, most of them are now [out-process](http://www.jetbrains.org/intellij/sdk/docs/reference_guide/frameworks_and_external_apis/external_builder_api.html?search=external). The thing is, the list of units that should be recompiled is stored in the global model that the IDE maintains,

[2016-09-06 09:19] gavinking commented on #460
I have seen this too. It's recent.

[2016-09-06 10:04] bjansen commented on #421
I believe this is a bug in IntelliJ, that has been fixed in 2016.3 EAP, in which I can't reproduce the problem.

Most likely this fix: https://github.com/JetBrains/intellij-community/commit/a3f044d3add6d1a1e852a770cc025f1223651a02

[2016-09-06 10:05] gavinking commented on #421
OK, I'm using 2016.2.3 so that could explain it.

[2016-09-06 10:06] #421 closed

[2016-09-06 10:07] gavinking commented on #457
Note that this is probably related to #299.

[2016-09-06 12:46] jvasileff commented on #459
Ok, interesting. Thanks for explaining this.

Given that the out of process code doesn't have access to ceylon modules, is the approach I took to always enable and use in-process compilation for Dart acceptable for now? Note that I'm creating a new typechecker instance for each compile rather than using the one that is passed in.

Those are no longer copied to `CeylonIDEA/lib`, so there is only on

[2016-09-06 13:06] bjansen commented on #460
Do you know in which file it happened?

[2016-09-06 13:13] bjansen commented on #457
Can't reproduce here, no matter what occurrence of `x` I try to rename, the result is correct:

[code]

In your case, are all the usages correctly highlighted?

[2016-09-06 13:25] jvasileff commented on #457
No! Early on I noticed that highlighting for other uses of a declaration doesn't happen in IntelliJ. I thought that just wasn't implemented yet.

So I wonder what's different with my environment.

[2016-09-06 13:32] bjansen commented on #457
What version of IDEA and Ceylon IDE are you using?

[2016-09-06 13:44] jvasileff commented on #457
IDEA 2016.2.3 and various new builds of the IDE. I know that highlighting didn't work for me on older versions of both.

Now I see that highlighting does work under the specific scenario:

* In a file in the ceylon-ide-intellij project (as opposed to another test IJ project/module)
* If `testit` is a top-level function

But still, the parameter `x` seems bound to the `is Anything x`, and all of th

[2016-09-06 15:40] davidfestal commented on #448
That's the point n which we all agree, and that's what I've worked on with the previous commits.

- Analyzing the running application with Java Mission Control showed that the locks in the UI while a model update was running were not primarily due to CPU load, but to inter-dependencies between the background threads and UI when auto-completion was automatically triggered.
I fixed this, but still a

[2016-09-06 20:09] jvasileff commented on #459
I added `supplementalRepo` and it seems to work well.

There are a few more cleanup TODOs now, and without https://github.com/ceylon/ceylon/issues/6031 I'll need a new approach for running Dart programs. But that should be manageable.

[2016-09-06 20:16] jvasileff commented on #459
So I think what's really needed for this to make the release is a few up-votes and for others to start including these patches in their builds. Just because it works and doesn't break stuff *for me* doesn't mean much in terms of whether it should be added to the final build. But I know there are many other higher priority items to work on in the limited time that's left.

[2016-09-06 20:30] bjansen commented on #459
How much bigger is the final artifact, once it includes the Dart backend?

FTR here's the current size:

[code]

[2016-09-07 09:12] gavinking commented on #448
With David's the latest work, this is now a nonissue, since model updates don't get in the way of other work. It would still be nice to reduce the amount of typechecking work done during a model update (it still seems excessive to me, either the model diff process or the dependency tracking could do with some work) but that's really not such a big deal anymore now that all this work happens in the

[2016-09-07 09:12] #448 closed

[2016-09-07 09:13] gavinking commented on #448
To be clear: David has actually implemented the requested functionality, though I doubt you'll need to use it.

<img width="842" alt="screen shot 2016-09-07 at 11 12 34 am" src="https://cloud.githubusercontent.com/assets/579974/18306425/1afa88e6-74ec-11e6-96b6-ae5ddb8c4093.png">

[2016-09-07 09:15] gavinking commented on #460
Do we actually know how to reproduce this? Or is it something you observed once, @davidfestal ?

[2016-09-07 09:16] gavinking commented on #419
Is this still a problem, or can we close it?

[2016-09-07 09:22] bjansen commented on #419
It looks like it's not happening anymore, probably thanks to David's recent changes.

[2016-09-07 09:22] #419 closed

[2016-09-07 09:29] davidfestal commented on #460
I observed it once, but cannot say exactly how it happened. I saw it in the `Events` view and the output, but didn't catch when it appeared.

[2016-09-07 09:34] gavinking opened #461 "model updates should not block purely-local refactorings"
For example, right now I can't Inline a local `value` when a model update is in progress.

[2016-09-07 09:34] gavinking commented on #460
Well, I added a null check for `decl.name`, but there's not much more we can do if we can't reproduce it. Closing.

[2016-09-07 09:34] #460 closed

[2016-09-07 09:36] gavinking commented on #422
Looks like this isn't for 1.3.0 after all.

[2016-09-07 09:38] gavinking opened #462 "enhancements to Rename"
Just as in Eclipse, we should support:

- [ ] renaming the file, if the file name matches the name of the renamed declaration
- [ ] renaming `value`s whose name/type matches the renamed type

[2016-09-07 09:43] gavinking opened #463 "bug that causes model update to be disabled at startup"
I have seen this a couple of times now, when restarting the IDE:

[code]

[2016-09-07 09:48] bjansen commented on #463
I suppose it's because that class has been reindexed while the model was loading, so we'd probably need to use a `SmartPsiElementPointer`, wdyt @davidfestal ?

[2016-09-07 09:49] davidfestal commented on #463
Yes, I think we should use `SmartPsiElementPointer`s in all the class mirrors.

[2016-09-07 10:40] davidfestal opened #464 "Don't schedule an immediate model update for quick fixes that wouldn't impact other files"
In commit ceylon/ceylon-ide-intellij@1945e0a, I added

`resumeAutomaticModelUpdate(0);` in various places.

In the cases that __*don't need*__ scheduling an immediate model update it should be:

`resumeAutomaticModelUpdate();`

(without the explicit `0` delay).

Cases that __*don't need*__ scheduling an immediate model updates are quick fixes whose change is not expected to impact any other file (

[2016-09-07 12:57] #299 closed

[2016-09-07 14:28] #463 closed

[2016-09-07 14:30] bjansen commented on #463
I've added them where necessary. I used to have thousands of similar errors in the problems view right after rebuilding from the CLI, updating the plugin and restarting my main IDE, and now that problem is gone, so I'd say it's fixed.

[2016-09-07 14:36] bjansen commented on #454
What version of the plugin are you using? That error message has been improved in July to provide much more debugging information.

FTR the readme provides [two installation channels](https://github.com/ceylon/ceylon-ide-intellij#install-from-the-development-plugin-repository). I suggest you use nightly builds, that have huge changes in terms of performance and bug fixes:

https://ci-ceylon.rhclou

[2016-09-07 14:42] bjansen commented on #454
I confirm that `CeylonTreeUtil.java` doesn't throw exceptions at line 61 since June 16th, so you must be running 1.2.3-201606161613, and that kind of error has very likely been fixed since then. Please retest with nightly builds, and reopen this issue if the problem appears again.

[2016-09-07 14:42] #454 closed

[2016-09-07 19:58] bjansen commented on #456
Damn, this one had no milestone so it wouldn't have been included in 1.3.0 :)

[2016-09-07 23:58] jvasileff commented on #459
@bjansen I don’t understand your question, but of course a prebuilt binary is available for review.

[2016-09-07 23:59] jvasileff commented on #459
Done! Although we’ll probably want to clean up the warning and error message handling a bit at some point.

I updated the download link with the latest build.

Adding Dart support was originally @gavinking’s idea, so I’ll leave it to him or anyone else to open a separate issue if they would like this to be merged into an official release.

[2016-09-07 23:59] #459 closed

[2016-09-08 07:40] bjansen commented on #459
There's my response:

* without Dart: 25MB
* with Dart: 33MB

[2016-09-08 11:58] gavinking opened #465 "Ceylon Problems view not cleaned up after switching branches and synchronizing"
After switching away from the dart branch of the IDE, and manually running Synchronize, I was left with errors relating to removed files in the Ceylon Problems view, and I wound up having to restart the IDE.

[2016-09-08 14:06] #465 closed

[2016-09-08 14:28] #456 closed

[2016-09-08 14:48] #401 closed

[2016-09-08 14:49] gavinking commented on #465
Thanks.

[2016-09-08 14:55] gavinking commented on #459
@jvasileff I wanted to try out your work last night, but I totally failed to get a build of `com.vasileff.ceylon.dart.cli/1.3.0-DP3`.

I couldnt even figure out how to build `ceylon-dart` with gradle. Are there instructions somewhere that I missed?

[2016-09-08 15:10] jvasileff commented on #459
@gavinking it should work, but with a `ceylon.ast` [patch](https://gist.github.com/jvasileff/a8a3fca6c83581f18e625d2b8ca6dbef)

I just tried this:

* Moved aside `~/.ceylon/repo` to make sure I was starting from scratch
* Patched `ceylon.ast`
* Performed steps 1-3 in the issue description. Note that you can also do `./gradlew install` for ceylon-dart so you don't have to install gradle or worry ab

[2016-09-08 15:12] gavinking commented on #459
What precompiled binary? Where?

[2016-09-08 15:18] lucaswerkmeister commented on #459
@jvasileff sorry, I totally forgot that I hadn’t pushed my work on ceylon/ceylon.ast#119… can you try out the `119` branch and see if that makes the patch unnecessary? (And @gavinking I’d prefer to remove ceylon/ceylon.ast@8c4cb4905be3bfcb321c80c46b8b775fe77f2770 from the history before merging… you say it’s an easy fix? :) )

[2016-09-08 15:20] bjansen commented on #459
@gavinking https://github.com/ceylon/ceylon-ide-intellij/issues/459#issuecomment-244849630

[2016-09-08 15:20] gavinking commented on #459
Well did you open an issue?!

[2016-09-08 15:21] lucaswerkmeister commented on #459
Yes, https://github.com/ceylon/ceylon/issues/6471, the one that’s mentioned in the commit message and tagged prio-high? That one?

[2016-09-08 15:21] gavinking commented on #459
Oh, of the whole IDE. I guess...

[2016-09-08 16:21] gavinking opened #466 "specify command line args and system properties in Run configuration"
Eeeek: currently there is no way to even pass a command line argument to a Ceylon program!

[2016-09-08 16:27] bjansen commented on #457
It works fine here, even in non-toplevel functions and outside of ceylon-ide-intellij. Could you share a project in which the problem appears please?

[2016-09-08 16:51] jvasileff commented on #457
It does seem config related. The rename works in a brand new project, but not in other projects including `ceylon-ide-intellij`/`plugin-ceylon-code`.

I'll try to spot the difference in the configs. Perhaps output dir related? Or when the module is in a subdir?

For reference, another error I got when trying to rename the non-param `x` was:
[code]

[2016-09-08 17:39] jvasileff commented on #457
Shit. I can't believe I wasted multiple hours on this.

If you open a project using a path that involves a symlink, this issue, highlighting, and command-click navigation don't always work right.

You see, I have everything in Dropbox, but use a symlink for convenience:

[code]

But what threw me off is that so much *does* work, like running, compiling, error highlighting, etc.

[2016-09-08 18:01] #466 closed

[2016-09-08 18:13] bjansen commented on #457
OK I'm able to reproduce, indeed I can see lots of errors in the console.

[2016-09-08 18:23] jvasileff commented on #457
@bjansen on the plus side, the plugin must be *really* nice if I was happy with it in a half functional state.

[2016-09-08 18:39] bjansen commented on #457
😄

[2016-09-08 19:38] #457 closed

[2016-09-08 19:46] bjansen commented on #457
It turns out that in the global model we maintain, symlinks were always resolved. OTOH, changes made to the editor were done via non resolved symlinks.
For some reason, IntelliJ's VFS API won't refresh the contents of resolved file, supposedly because they are not part of the project (only the symlinks are part of the project). As a consequence, changes made in the editor were never seen in certai

[2016-09-08 21:17] gavinking commented on #466
Thanks @bjansen, but I would love to be able to set JVM system properties too...

[2016-09-09 07:08] bjansen commented on #466
done!

[2016-09-09 08:05] gavinking commented on #466
Excellent, thanks :)

[2016-09-09 10:43] gavinking opened #467 "Navigate > Class and choosing sequence() takes me to Sequence.sequence()"
I tried to use Navigate > Class to take me to the toplevel function `sequence()`, and instead it took me to the method `Sequence.sequence()`, which just happens to be declared in the same source file.

[2016-09-09 11:59] bjansen commented on #418
Now ⌥⌘B shows Ceylon results for both `PsiClass`es and `PsiMethod`s.

Unfortunately, to be able to show our results when clicking on `I↓`, we'd have to make our own PSI elements satisfy `PsiClass` or `PsiMethod` (the `QueryExecutor`s to implement don't handle generic `PsiElement`s), so I'll leave that for later.

[2016-09-09 11:59] #418 closed

[2016-09-09 12:07] bjansen opened #468 "Consider simplifying our PSI classes"
Most of the interfaces in `CeylonPsi` could be removed, and instead of doing:

[code]

we could simply do

[code]

We could leave a few exceptions:

* `AnyMethodPsi` would satisfy `PsiMethod`
* `AnyClassPsi` would satisfy `PsiClass`

to be able to use our own PSI elements in APIs that expect `PsiClass`es and `PsiMethod`s (see https://github.com/ceylon/ceylon-ide-intellij/issues/418#issuecomment-24

[2016-09-09 12:37] gavinking commented on #468
+1.

All the value of the `XxxxPsi` classes is already available via the `ElementType`, AFAICT.

[2016-09-09 12:42] gavinking opened #469 "show Ceylon results for Navigate > Implementations called on Java classes"
This is the remaining part of #418.

[2016-09-09 12:43] bjansen commented on #469
Depends on #468

[2016-09-09 12:45] gavinking commented on #469
Yeah, I figured.

[2016-09-09 12:54] bjansen commented on #469
That was a "note to self" ;)

[2016-09-09 12:56] karimiumar commented on #448
Excellent ! This is working as desired. :)

On 9/7/16, Gavin King <notifications@github.com> wrote:

--
regards

Umar

[2016-09-09 13:34] bjansen commented on #461
I *can* do the scenario you described. For example in `AbstractIntention`, which is large enough to produce model updates that last 1-2s, I added the following code:

[code]

After forcing an update using ⌘⌥U, I can inline `h` while the model is being updated.

[2016-09-09 13:38] davidfestal commented on #461
it probably depends on the project for on model update is running. In your case you have 2 project with one depending on the other.
You should probably test with a full model update, ensure you're testing during a model update on the right project by looking in the status bar.

[2016-09-09 13:41] bjansen commented on #461
One thing that is not possible is calling intentions when the editor is reparsing the files and recomputing all the annotations (just after the model update), i.e. the short period when all the gutter icons and warnings are removed from the editor before being redrawn. I think that's a limitation in the IDE though.

[2016-09-09 13:44] bjansen commented on #461
Well, during a full model udpate in plugin-ceylon-code, I can call *one* intention, but once it has been applied, the file has to be reparsed in order to compute the new intentions, and for that to work we currently need to wait for the model update to finish.

[2016-09-09 14:49] bjansen opened #470 "Errors in 2016.3 EAP"
I haven't found how to fix this one:

[code]

Using any of `ModalityState.current()`, ModalityState.defaultModalityState()`or`ModalityState.nonModal` does not help :(

[2016-09-09 14:50] bjansen commented on #470
Note that it's not a fatal error, merely a big red warning that we are misusing the API.

[2016-09-09 14:57] #467 closed

[2016-09-09 15:00] gavinking commented on #467
Thanks.

[2016-09-09 16:25] chochos opened #471 "Editing text resource doesn't update it when running module"
Steps to reproduce:

1. Create a simple module with a text resource
2. Load said resource in the `run` method and print its contents
3. Run the module
4. Edit the resource, save it
5. Run the module again. Prints old content.

Something simple such as:

[code]

[2016-09-09 17:04] bjansen commented on #471
Grr, I'm trying to clear that list of bugs to be fixed before 1.3.0 here ;)

[2016-09-09 18:00] chochos commented on #471
Sorry hehe, it's just that I am already using IntelliJ to make real-world software with Ceylon, as well as a demo for JavaOne...

[2016-09-10 11:25] gavinking opened #472 "adding parameter to MutableList.addAll() in SDK does not trigger model update"
It seems that, due to a recent change, model updates are sometimes not triggered.

[2016-09-11 14:55] gavinking opened #473 "completion in module import statement proposes things that are not a modules"
This bug affects IntelliJ but not Eclipse, which is weird.

[2016-09-11 15:37] #473 closed

[2016-09-11 18:16] gavinking commented on #217
This is back. It's possible it was never really fully fixed.

[2016-09-11 19:29] gavinking opened #474 "memory leak when repeatedly opening/closing huge projects"
If you open and close `ceylon-ide-intellij` and `ceylon-sdk` a few times in the same VM, you run out of memory pretty quickly.

[2016-09-11 19:44] gavinking commented on #472
I think I fixed this.

[2016-09-11 19:44] #472 closed

[2016-09-11 19:44] gavinking commented on #217
I think it's fixed.

[2016-09-11 19:44] #217 closed

[2016-09-11 20:00] gavinking opened #475 "adding or removing a shortcut refinement does not immediately trigger a model update"
I *think* the expected behavior is that after adding or removing a shortcut refinement, I should just wait 4 secs to see the impact. At least that's what seems to happen with regular refinements.

[2016-09-12 06:30] bjansen commented on #475
Which one do you want? An immediate model update, or wait 4s?

[2016-09-12 06:39] gavinking commented on #475
Well wait 4s. Instead of having to switch Windows which is what I have to do now. It should behave the same as for regular refinement.

[2016-09-12 07:51] #464 closed

[2016-09-12 07:55] bjansen commented on #464
I added a new parameter `Boolean affectsOtherUnits = false` to `QuickFixDate.addQuickFix()`, so now each quick fix can decide if it affects other units or not. As a result, the plugin will know if it should run a model update immediately or after 4s.

I changed a few quick fixes with `affectsOtherUnits = true;`, but I might have missed some. @gavinking if you have a few minutes and want to review

[2016-09-12 08:08] gavinking commented on #464
Great. Yes, I will take a look.

[2016-09-12 09:23] bjansen commented on #475
Is this happening when you manually type a shortcut refinement, or when you call the "Convert to shortcut refinement" intention?

[2016-09-12 09:33] gavinking commented on #475
When I type it in manually.

[2016-09-12 10:00] bjansen commented on #475
Given this code:

[code]

when I manually type `foo => 1;`, after 4s a model update is run and removes the error in the problems view. Is this scenario similar to yours?

[2016-09-12 10:01] gavinking commented on #475
yes.

[2016-09-12 10:02] gavinking commented on #475
Try refining `highlighter` in `AbstractCeylonColorSettingsPage`.

[2016-09-12 10:30] bjansen commented on #475
OK, I think it's because `AbstractCeylonColorSettingsPage` is `abstract`, so perhaps the diff system makes less checks than for non-abstract classes.

[2016-09-12 10:48] davidfestal commented on #475
@bjansen  I don't see why

[2016-09-12 10:51] davidfestal commented on #475
it's probably a bug.

I'll have a look in the delta builder.

[2016-09-12 12:10] bjansen commented on #475
Steps to reproduce:

[code]

Uncomment the line and wait for 4s: the model is not updated.
Comment the line, remove the `abstract` annotation, manually update the model, then uncomment the line: the model is updated after 4s.

[2016-09-12 18:00] bjansen commented on #471
Should be better now. On existing projects, make sure that `resource` is marked as a `Resource Root` (right-click on the folder > Mark Directory as > Resource Root).

[2016-09-12 18:00] #471 closed

[2016-09-12 21:04] bjansen commented on #411
It only happens in IJ modules that are dependencies of other modules, like ceylon-ide-intellij which depends on ceylon-ide-common in our project. To fix https://github.com/ceylon/ceylon-ide-eclipse/issues/1070, @davidfestal checked for folder deletions in the output repository in order to force a full build ("if `modules` is incomplete/was deleted, we should rebuild the project").

The problem her

[2016-09-12 21:10] #411 closed

[2016-09-13 10:02] bjansen commented on #474
@davidfestal is this issue fixed, or did you notice other leaks?

[2016-09-13 10:02] davidfestal commented on #474
It's fixed yes, I just forgot to close the issue.

[2016-09-13 10:02] #474 closed

[2016-09-13 10:03] bjansen commented on #474
Cool, thanks!

[2016-09-13 10:04] gavinking opened #476 "logging of ProcessCancelledExceptions"
I get quite a few errors like this:

[code]

[2016-09-13 10:37] gavinking commented on #474
Great, thanks David.

[2016-09-13 10:55] bjansen commented on #461
From what I understand:

* during full model updates, the model manager holds a lock while typechecking source files
* when you modify a file during full model updates, it cannot be locally typechecked because it can't acquire a lock on the model
* quick assists and refactorings like Inline currently need a typechecked phased unit, which cannot be computed because of the two previous points

I'm w

[2016-09-13 11:24] #476 closed

[2016-09-14 10:25] weakish opened #477 "IntelliJ fix "create toplevel function" will not respect renamed import."
Given `import ceylon.json { JsonObject }`, the auto created function still uses `Object` instead of `JsonObject`.

[code]

Auto created:

[code]

[2016-09-14 10:27] weakish opened #478 "IntelliJ fix "create toplevel function" seems simply put local function to toplevel"
Given:

[code]

Auto created:

[code]

- `function` is invalid for top level function.
- `=> {}` (top level functions more likely use a block

[2016-09-14 11:04] bjansen commented on #477
What version of the plugin are you using? (you can see it in `Preferences > Plugins > Ceylon IDE`

[2016-09-14 11:05] bjansen commented on #477
FTR the current master produces this (correct) function:

[code]

[2016-09-14 11:09] bjansen commented on #477
But it doesn't take import aliases into account:

[code]

produces

[code]

[2016-09-14 11:18] #477 closed

[2016-09-14 11:19] bjansen commented on #478
I can't reproduce this using the `master` version of the plugin. I can think of two possibilities:

* you're using an old version of the plugin (like the one in this repository https://downloads.ceylon-lang.org/ide/intellij/development/updatePlugins.xml)
* your project isn't set up properly (do you see errors in the Ceylon Problems view?)

[2016-09-14 11:20] bjansen commented on #478
After fixing #477 it now generates:

[code]

[2016-09-14 14:44] weakish commented on #478
Yes.

Updated ceylon plugin, and it works fine.

[2016-09-14 14:44] #478 closed

[2016-09-14 14:45] weakish commented on #477
That's what I mean. Sorry I mistyped `import ceylon.json { JsonObject }`, should be `{ JsonObject = Object }`

[2016-09-14 14:46] bjansen commented on #477
OK, you'll have the fix in next night's build.

[2016-09-14 16:18] jvasileff opened #479 "for run & debug, honor repositories.lookup in .ceylon/config"
The run command includes `--rep output-repo`, but does not also specify lookup repositories specified in `.ceylon/config`. This causes run failures if the lookup repositories are required.

For example, with `.ceylon/config`:

[code]
`../client/lib` is disregarded, resulting in:
[code]

Per @quintesse on gitter:

[2016-09-14 16:26] quintesse commented on #479
To make it more explicit, I want any changes I make to the config file outside of IntelliJ to be detected and applied somehow. (Doesn't have to be when INtelliJ has the project open, but at least when it loads/opens the project. But if it can detect it on-the-fly even better)

[2016-09-14 16:44] bjansen commented on #479
Maybe we could improve `CeylonToolProvider` to support `CeylonConfig`s?

Something like `CeylonToolProvider.getCompiler(Backend.Java, myConfig)` or `myCompiler.configure(myOptions)`

[2016-09-14 18:21] quintesse commented on #479
You guys are using the CeylonToolProvider to compile all the code? I find that hard to believe O_o.

[2016-09-14 18:22] davidfestal commented on #479
not in eclipse though

[2016-09-14 18:38] quintesse commented on #479
But does IntelliJ really use the `CeylonToolProvider` to compile stuff??
In that case passing a `CeylonConfig` wouldn't make a difference. The moment you pass a `--rep` option on the command line (which the tool provider basically is) it overrides any default or config settings.
But if you guys make sure the config file is up-to-date it shouldn't be necessary to pass any `--rep` options.

[2016-09-14 19:00] jvasileff commented on #479
@quintesse related to that, should the 1.3.0 IDEs spit out a `repositories.lookup` setting for each `repositories.output` setting, so that the `ceylon run` will continue to work?

If so, then another question: what is the correct procedure for removing old `repositories.lookup` entries when changing `repositories.output`?

[2016-09-14 19:05] quintesse commented on #479
I'd expect that the IDE makes sure that there's at least one lookup repo pointing to the same place as the output repo. They can of course try to do something more intelligent and detect changes of the output repo and sync it with the lookups.

[2016-09-14 19:11] jvasileff commented on #479
I meant to avoid piling up lookup repos when the output repo is changed using a GUI inside the IDE. Maybe it should just remove any lookup repo that matches the old output repo.

[2016-09-14 19:36] bjansen commented on #479
what am I supposed to use instead?

[2016-09-14 20:00] quintesse commented on #479
No no, I just assumed that it worked the same as in Eclipse, because so many things are shared between the editor and the compiler and what not.

[2016-09-14 20:02] bjansen commented on #479
Well the build in IJ is different, because plugins are supposed to compile projects in a separate process, so I can't really reuse stuff from ceylon-ide-common.

[2016-09-14 20:08] quintesse commented on #479
Ok, understood. Well then what I said in the other comment should fix the problem: https://github.com/ceylon/ceylon-ide-intellij/issues/479#issuecomment-247113103

[2016-09-15 10:39] #479 closed

[2016-09-15 10:41] bjansen commented on #479
It should be better now. Both the builder and runner are now using the `.ceylon/config` file.

[2016-09-15 11:20] gavinking opened #480 "IndexNeededWithNoIndexStrategy from inside DeltaBuilderFactory"
I get a few of these.

[code]

[2016-09-15 12:01] bjansen opened #481 "Improvements to the config synchronization"
* check that source/resources/output roots are synchronized when:
  * the config file is changed
  * settings are changed via the UI

[2016-09-15 12:09] bjansen commented on #475
Is this one fixed? It looks like your commit message didn't close it automatically.

[2016-09-15 12:12] davidfestal commented on #475
I fixed the cause in the delta builder, but didn't get the time to test
again in IntelliJ (I'm on Eclipse now).
I wanted to do it before closing the issue, but maybe you can easily
confirm that this now works ?

2016-09-15 14:09 GMT+02:00 Bastien Jansen <notifications@github.com>:

[2016-09-15 12:12] bjansen commented on #475
Sure.

[2016-09-15 12:16] bjansen commented on #475
The case I mentioned here now works fine: https://github.com/ceylon/ceylon-ide-intellij/issues/475#issuecomment-246328199

Closing.

[2016-09-15 12:16] #475 closed

[2016-09-15 12:19] bjansen opened #482 "Use dependencies output repositories when building/running"
When ProjectA and ProjectB are both opened in the IDE, and ProjectB depends on ProjectA, when building ProjectB we should add `ProjectA/modules` to the list of repositories that are used to build/run modules.

See [this discussion](https://github.com/ceylon/ceylon-ide-intellij/commit/16e5f0355fde128950d676348325ff30355074b1#commitcomment-19034014).

[2016-09-15 12:21] gavinking opened #483 "model update sometimes starts up in the middle of an Extract refactoring"
We should disable model updates as soon as you invoke a refactoring, right up until it is finished or you cancel out of it.

[2016-09-15 14:11] jvasileff commented on #479
Thanks @bjansen!

[2016-09-15 18:12] #480 closed

[2016-09-15 18:12] bjansen commented on #480
Could try this fix please?

[2016-09-16 07:53] gavinking commented on #280
Fixed, I believe.

[2016-09-16 07:53] #280 closed

[2016-09-16 15:39] gavinking opened #484 "null member of a TypeDeclaration"
Well, in theory it's not too hard to add a null check here, but it seems to me that it's a bug in the model loader that the `members` collection contains a null value.

[code]

[2016-09-16 15:40] gavinking opened #485 "ModelResolutionException during completion"
[code]

[2016-09-20 06:00] Aguinore opened #486 "export module"
Hi!

In Eclipse based Ceylon IDE there is very useful feature "Export module" which I cannot find in IntelliJ. It is very uncomfortable to manually compile and copy module to local repo for further using.

[2016-09-20 06:08] Aguinore opened #487 "Run unit test"
Hi!

IntelliJ cannot run method as unit test even if it is marked as test by annotation. There is just no item in context menu

[2016-09-20 06:40] bjansen commented on #487
Duplicate of #249

[2016-09-20 06:40] #487 closed

[2016-09-20 07:50] bjansen opened #488 "jps-plugin should be compiled using Java 7"
Technically, it should even be Java 6, according to these sources:

https://youtrack.jetbrains.com/issue/IDEA-127825
https://github.com/ignatov/intellij-erlang/issues/727
https://github.com/fkorotkov/intellij-thrift/issues/46

[2016-09-20 08:12] vietj opened #489 "Internal error"
Got this error when loading a project:

[code]

[2016-09-20 08:16] bjansen commented on #489
Are you opening an existing (configured for Ceylon) project, or importing a Ceylon project from sources?

[2016-09-20 08:18] vietj commented on #489
when opening vertx-lang-ceylon project in Intellij

[2016-09-20 08:18] bjansen commented on #489
OK, thanks.

[2016-09-20 08:21] #488 closed

[2016-09-20 08:24] vietj commented on #489
the current version on GitHub still uses Ceylon 1.2.2 - you should wait that I update it to 1.3.0 before testing

[2016-09-20 08:28] bjansen commented on #488
@quintesse your project should now compile with the latest master.

[2016-09-20 09:03] bjansen commented on #489
Oh, I think it's because it's a Maven project, so the implicit source directory is `src/main/ceylon`, not `source`.

[2016-09-20 09:05] FroMage opened #490 "Android: add all compile deps to the `module.ceylon`, not just `app-compat`"
The `compile` dependencies being present in `app.gradle` depend on the activities chosen, and since we leave the Java activities alone and they are compiled by the Ceylon compiler, we need those modules in the Ceylon module descriptor too.

I assume we should also do something about the APT deps, for example if you have `apt` deps like:

[code]

You should add this to `.ceylon/config`:

[code]

AP

[2016-09-20 09:44] bjansen opened #491 "Support ceylon-maven-plugin"
- [x] automatically configure `src/main/ceylon` as a source root (or whatever is configured in `sources` tags)
- [x] Extra user repositories
- [x] default output repository
- [x] Javac options
- ~~verbosity~~ (not present in config file)
- [ ] create a run configuration from the `run` goal
- [x] automatically add the Ceylon facet to the project
- [x] persist the configuration in `.ceylon/` because

[2016-09-20 09:45] bjansen commented on #491
@vietj can you think of other features that could be useful?

[2016-09-20 09:50] #489 closed

[2016-09-20 09:55] vietj commented on #491
I need to play a bit with it to give feedback.

[2016-09-20 10:02] bjansen opened #492 "Support for --javac compiler options"
Similar to https://github.com/ceylon/ceylon-ide-eclipse/issues/1787

* [ ] ability to change those options in the UI
* [ ] use the options in `CeylonBuilder`

[2016-09-20 10:08] bjansen commented on #489
So, I've fixed the `ArrayIndexOutOfBoundsException`, but I couldn't really make sure that the project opens correctly. Here's what I did:

* cloned the git repo
* IntelliJ detected a `pom.xml`, so it asked if I wanted to open that project, I said yes
* the facet detector detected Ceylon files, so I clicked "configure"
* I had to manually set `src/main/ceylon` as source roots (see #491)
* after reo

[2016-09-20 12:13] MikhailMalyutin opened #493 "Error in log after ceylon refactoring (extract method)"
Steps:
1) Open any ceylon project
2) Do refactoring extract method

Refactoring works but there is next error in log:
[code]

[2016-09-20 12:28] MikhailMalyutin opened #494 "Error in log "cannot be cast to java.lang.Short""
There is next error in log:
[code]

[2016-09-20 14:26] MikhailMalyutin opened #495 "Find usages is sometimes not working"
There is function i want to find:

[code]

it located in one file
in other package there is usage of this function:

[code]

But find usages can't find it.

[2016-09-20 14:30] gavinking commented on #495
We're going to need much more information than that. What's special here that makes it not work in this case? Do the source files belong to the same IntelliJ "module"?

[2016-09-20 14:47] gavinking commented on #495
To be clear, it worked for me, given the above description of the problem.
<img width="654" alt="screen shot 2016-09-20 at 4 44 19 pm" src="https://cloud.githubusercontent.com/assets/579974/18675179/dec8d678-7f51-11e6-84dc-bd8c8c77e308.png">

[2016-09-20 14:47] MikhailMalyutin commented on #495
Yes, the module is the same

[2016-09-20 14:50] MikhailMalyutin commented on #495
After restarting IDEA the find usages works fine. So this is floating bug. May be it related with previous 2 bugs.

[2016-09-20 14:53] gavinking commented on #495
Then it's surely because a model update did not finish properly. The fix is to call Tools > Ceylon > Reset Ceylon Model.

Closing.

[2016-09-20 14:53] #495 closed

[2016-09-20 15:03] bjansen commented on #186
@gavinking I implemented most of this for 1.3.0, do you see anything else missing?

[2016-09-20 15:06] gavinking commented on #186
@bjansen I think everything is there except the cwd.

[2016-09-20 15:08] gavinking opened #496 "verbose compiler output unreadable / searchable"
Currently compiler verbose output gets sent to the Messages window, where it appears as a list of Info messages, making it unreadable and unsearchable. Is there something better we could do here? (I know IntelliJ has no real true equivalent of the Eclipse Console, which is unfortunate.)

[2016-09-20 17:09] bjansen commented on #496
There is an `Export to text file` button on the left of the tool window that shows a popup and the output in text format. Would that be enough?

[2016-09-20 20:24] bjansen commented on #494
Do you see a warning before that error in the logs, something like "unsupported PsiAnnotationMemberValue xxx"?

[2016-09-21 10:26] FroMage opened #497 "Android exception on IntelliJ"
When I fixed my gradle task, I got this in IntelliJ. I don't get this when compiling the project in Gradle, but it talks about the model loader a lot, so it may be a model loader bug. I hope not.

[code]

[2016-09-21 10:27] bjansen commented on #497
Probably related, reported by Gavin:

[code]

[2016-09-21 10:48] FroMage commented on #497
This only happens with android build tools 2.2.0, not 2.1.0, for some reason.

[2016-09-21 10:49] FroMage opened #498 "Deadlock"
My IDE just died.

[code]

[2016-09-21 11:00] FroMage opened #499 "AS: default ceylon activity is bogus"
Replace

[code]

With:

[code]

[2016-09-21 11:17] FroMage opened #500 "AS: bump `ceylon-gradle-android` to `1.0.1`"
Which works with android build tools 2.2 (and lower)

[2016-09-21 11:18] gavinking commented on #496
Yeah, I saw that, and it's a little better, but it still has rubbish preprended to the start of every line.

Perhaps we could create a whole new tool window, just like what we did with the Ceylon Problems view?

[2016-09-21 11:20] gavinking commented on #486
@Aguinore I agree this is a useful feature, but in the meantime, I just want to check that you know about the `ceylon copy` command:

[code]

[2016-09-21 11:29] bjansen commented on #496
Actually, tool windows can have tabs, so I was thinking once we add the module dependency viewer, we could rename that tool window to "Ceylon", and have multiple tabs:

* problems
* dependency graph
* etc.

Maybe the compiler output could fit there.

[2016-09-21 11:32] gavinking commented on #496
I'm not sure that the dependency graph belongs in the same tool window as problems, but I *definitely* agree that a tab of the Ceylon Problems tool window is the right place to put the verbose compiler output. Good idea!

[2016-09-21 11:33] bjansen commented on #496
It would be a "Ceylon" tool window, so we can group all the stuff related to Ceylon, to avoid cluttering the UI.

[2016-09-21 11:37] gavinking commented on #496
"Ceylon" doesn't especially make sense as a category to me. There is no "Java" tool window. Some of the modules in the module dependency graph aren't even Ceylon modules.

[2016-09-21 12:23] #494 closed

[2016-09-21 12:34] FroMage commented on #498
Got it again, slightly different stack:

[code]

[2016-09-21 12:38] FroMage commented on #497
And not always. I can `import java.lang { IntArray }` and use it in my Ceylon code in an Android project in AS, and I get no exception.

[2016-09-21 12:39] bjansen commented on #498
Does your IDE really hang, or are you just seeing logs that mention possible locks?

[2016-09-21 12:40] bjansen commented on #497
Can you share a project in which the problem appears all the time?

[2016-09-21 12:43] FroMage commented on #497
No, I don't have such a project. I'm trying to find how to reproduce it. I can also use declarations from the JDK and from the Android SDK (non-`java.*`) which uses `IntArray` and I get no issue.

[2016-09-21 12:43] #500 closed

[2016-09-21 12:47] FroMage commented on #497
OK yes. In AS, create a new Android project, with the default everything (empty activity). Wait for the project build to finish. Now add Ceylon to this project and boom.

This appears to be a crash in the IDE itself, because at this point I don't even have ceylon configured in the build file.

[2016-09-21 12:50] #499 closed

[2016-09-21 12:53] FroMage commented on #497
Yeah, happens every time. Funny thing is that if you create the new project, then change the android build tools down to 2.1.0, and only then configure Ceylon, you will get the exception but your project will be configured properly and you will get the ceylon files and updated gradle build.

[2016-09-21 12:58] bjansen commented on #453
By using `Arrays.asList` + a comprehension in the following code:

[code]

you actually return a non-modifiable list, in which IntelliJ might try to add elements later (which caused #493).

[2016-09-21 13:06] #493 closed

[2016-09-21 13:21] FroMage commented on #499
Thanks

[2016-09-21 13:21] FroMage commented on #500
Thanks

[2016-09-21 13:22] FroMage commented on #498
Completely dead ide

[2016-09-21 14:18] gavinking commented on #453
IntelliJ, or our code?

[2016-09-21 14:31] bjansen commented on #443
It seems to happen every time `IdeaCeylonProject` is modified (different from the version installed in the IDE?)

[2016-09-21 14:34] bjansen commented on #453
IntelliJ, in `com.intellij.refactoring.rename.inplace.InplaceRefactoring#performInplaceRefactoring`:

[code]

[2016-09-21 15:24] bjansen commented on #497
Do you also see this error prior to the one you reported?

[code]

[2016-09-22 09:28] FroMage commented on #497
Nope.

[2016-09-22 11:34] garar opened #501 "IntelliJ IDEA - Null pointer when creating new module"
Hello!

I get this exception when I try to create new module in IntelliJ IDEA 2016.2.4, open-jdk 8 and ceylon 1.3.0:

[code]

Thanks!

If you need more info, please let me know.

[2016-09-22 12:46] #501 closed

[2016-09-22 17:25] bjansen commented on #497
@FroMage I believe I have found an acceptable fix for this one. Could you rebuild master and tell me if it works for you too?

There's an extra problem that I noticed here: right after the project has been created and the Java intention is highlighted correctly, if you configure Ceylon it won't work because the project's `.iml` files haven't been created yet, and we need to know their location to

[2016-09-22 17:28] bjansen commented on #497
I also randomly get a popup saying something like "Gradle build in progress, are you sure you want to close the project?", I need to figure out where that comes from. Whether I answer "yes" or "no", the project will remain open :s

[2016-09-23 10:49] #497 closed

[2016-09-23 10:49] bjansen commented on #497
I fixed the NPE but couldn't reproduce the popup.

[2016-09-23 11:59] lukedegruchy commented on #486
Here's another workaround, which doesn't exactly do the same thing as requested.  It merely changes IntelliJ's module output directory to the local repo:

 File > Project Structure > Facets > Repositories > Ouput Repository > ~/.ceylon/repo

[2016-09-23 15:42] bjansen commented on #498
@davidfestal I'm not really sure how to fix this one. `updateIndexIfnecessary` calls `resetJavaModelSourceIfNecessary`, which holds a lock on the global model while it's calling `DumbService` to reindex what's needed.

`callWithLock` and `invokeAndWait` are not compatible, and I think we really should wait for the indexation to finish. Which leaves me with this question "do we really need to lock

[2016-09-23 15:57] davidfestal commented on #498
I'll have a look at it next week. Please assign it to me.

[2016-09-23 15:58] bjansen commented on #498
OK, thanks.

[2016-09-23 15:59] davidfestal commented on #498
I'm not sure we should update the index while under the "use alternate" indexing strategy.

[2016-09-23 16:34] bjansen commented on #443
Oh, actually it happens in the CLI too, if I provide the same list of files to compile as the one computed by the IDE.

[code]

What's weird is that the compiler complains that `CeylonModelManager` is unknown, but it's one of the file that are passed to the compiler.

[2016-09-23 16:57] bjansen commented on #443
@FroMage @tombentley I believe this is a bug in the compiler, wdyt?

* go to `ceylon-ide-intellij/plugin-ceylon-code`
* build the whole module with `ceylon compile`, it works fine
* do an incremental compilation with `ceylon compile source/org/intellij/plugins/ceylon/ide/ceylonCode/model/IdeaCeylonProject.ceylon`, and observe the error above

[2016-09-23 18:55] renatoathaydes commented on #489
I think this has nothing to do with Maven.

Just tried to create a new project from existing sources, pure Ceylon project without Maven or Gradle, and I got the same error. In fact, I am yet to manage to import any project without this error.

The one I tried is [here](https://github.com/renatoathaydes/parcey), if you want to test.

[2016-09-23 19:23] bjansen commented on #489
I can import your project just fine using the current master (File > New > Project from existing sources > etc.), so I confirm the problem has been fixed. I will probably make a bugfix release next week.

[2016-09-23 19:24] renatoathaydes opened #502 "Typing is impossible because of the huge lag"
IntelliJ has a reputation for being nearly as fast as vim for typing in code.

I use Java a lot in IntelliJ, as well as Kotlin and Groovy. In all languages, I've never observed any lag at all, except when IntelliJ is indexing, which is quite rare.

However, trying to write Ceylon, it's incredibly slow. It looks like for every character typed, the auto-completion is trying to find matches, no matte

[2016-09-23 19:26] bjansen commented on #502
What happens if you disable automatic completion? (Settings > Editor > General > Code completion > Autopopup code completion)

[2016-09-23 19:34] renatoathaydes opened #503 "The formatter should not remove empty lines or add new lines"
The formatter in IntelliJ (or the "Reformat code" action, which I activate it with Cmd+Alt+L in a american keyboard on Mac) does more than formatting.

It removes empty lines for no reason.

For example in this code:

[code]

Formatting the code causes the empty line to be removed. Why? This is not what anyone expects. Leaving empty lines is quite common and has many good reasons... no other langu

[2016-09-23 19:37] bjansen commented on #503
The formatter is an unfinished feature, there are known problems that will be fixed in #43 and #138.

[2016-09-23 19:40] renatoathaydes commented on #502
Yes, as expected that's the problem, without that option enabled it works as expected.

[2016-09-23 19:42] bjansen commented on #502
OK, thanks, I'll take a look asap. Is your module importing dependencies?

[2016-09-23 19:42] renatoathaydes commented on #502
No. Hello world, as I said.

[2016-09-23 19:44] renatoathaydes commented on #502
Wow, In Java and Groovy, I can just type gibberish as fast as I can and it doesn't lag at all, even while quickly showing completion as I type. Probably some very smart caching going on there.

[2016-09-23 19:45] bjansen commented on #502
Um, that strange, because even when working on ceylon-ide-intellij we don't have such problems. It's the first time someone has this kind of problem afaik.

[2016-09-23 19:46] renatoathaydes commented on #502
@bjansen In Ceylon files, I am able to type a full word before the editor starts showing the first letter of it! Seriously. You probably haven't noticed because you're coming from Eclipse :D

[2016-09-23 19:49] bjansen commented on #502
Oh, perhaps try adding more RAM to your IDE (Help > Edit custom VM options). We definitely forgot to mention that in the readme, but the default value makes the IDE lag very fast when it deals with Ceylon projects.

FTR I dislike Eclipse and have been avoiding it for years :)

[2016-09-23 19:52] renatoathaydes commented on #502
@bjansen please, man! I work with million-line code in Kotlin/Java/Groovy projects, no problem at all there, it's as snappy as it gets. It's the Ceylon plugin that's doing something slow!! And you suggest a hello world program needs more RAM so I can type `"hello"` without lag??

[2016-09-23 20:00] bjansen commented on #502
Well, you can blame the typechecker for using that much memory. We're not using the same mechanisms as other plugins, because we're trying to reuse existing tools as much as possible.

[2016-09-23 20:59] gavinking commented on #502
@renatoathaydes you're the only one experiencing this, so calm down please. I'm writing code with Ceylon IDE for IntelliJ _every day_, in a really big project, and I simply don't have any problem with editor responsiveness.

As to RAM usage, while building a helloworld, I have memory usage peaking at about 200 meg, so I doubt the problem is memory usage.

[2016-09-25 12:18] karimiumar opened #504 "null value returned from native call not assignable to Object"
[code]

[2016-09-25 12:45] gavinking commented on #504
Apparently my fix to #460 didn't work. Which means that what we have here, *somehow* is a `Declaration` whose `container` is a `Package`, but whose `Scope` is null or has no name. So the underlying cause here is certainly a model loader bug. Who is forgetting to set `Scope`?

[2016-09-25 14:06] karimiumar commented on #504
This is occurring every time the model loader/intellisense fails to recognize a keyword. If I'm working in a Java class, then the intellisense provides with a list of available options. But when I use a ceylon file then intellisense doesn't work as good as it works in Java and the above exception is reported. These keywords for which intellisense fails are not imported and as I expect the intellis

[2016-09-25 14:17] gavinking commented on #504
@karimiumar I *believe* I have fixed it with my recent commits.

As you can see in #460, it's something we have also occasionally experienced, but we weren't able to reproduce it reliably in order to track down the cause.

I think it should be fixed now, but you would have to do a full build of Ceylon and of the IntelliJ plugin (i.e. `ant dist sdk intellij`) to test it.

[2016-09-25 14:54] gavinking commented on #502
@renatoathaydes could you please provide more information about your environment so we can attempt to reproduce this. Thanks.

[2016-09-25 16:04] renatoathaydes commented on #502
ceylon version 1.3.0 49375fd (Total Internal Reflection)
Computer:
Model Name:	MacBook Pro
  Model Identifier:	MacBookPro11,3
  Processor Name:	Intel Core i7
  Processor Speed:	2,5 GHz
  Number of Processors:	1
  Total Number of Cores:	4
  L2 Cache (per Core):	256 KB
  L3 Cache:	6 MB
  Memory:	16 GB
OS
  System Version:	OS X 10.11.6 (15G1004)
  Kernel Version:	Darwin 15.6.0
  Boot Volume:	Macintos

[2016-09-25 16:07] gavinking commented on #502
Well, that's *very* strange. It's almost identical to my machine:

<blockquote>
  Model Name:	MacBook Pro
  Model Identifier:	MacBookPro12,1
  Processor Name:	Intel Core i7
  Processor Speed:	3.1 GHz
  Number of Processors:	1
  Total Number of Cores:	2
  L2 Cache (per Core):	256 KB
  L3 Cache:	4 MB
  Memory:	16 GB
</blockquote>

[2016-09-25 16:11] renatoathaydes commented on #502
I am not able to attach a memory snapshot here as it is too big... would it help anyway? I can create a thread in the user groups for that if necessary.

BTW I have as default a system as you can imagine (all esoteric plugins I install from time to time are disabled/removed!)... while I understand your concern that my system has something strange, I find that difficult to imagine it's the case whe

[2016-09-25 16:14] gavinking commented on #502
I'm also using the exact same build of IntelliJ, FTR.

[2016-09-25 16:15] gavinking commented on #502
How much memory have you given IntelliJ? I have:

[code]

[2016-09-25 16:19] renatoathaydes commented on #502
[code]

I will try adding more (but it works fine with monstrous Java projects!)

[2016-09-25 16:21] gavinking commented on #502
I reduced memory to `-Xmx300m` and I still don't experience any lag at all in a project that is a fair bit more complex than a helloworld.

[2016-09-25 16:23] renatoathaydes commented on #502
Didn't help at all to raise to `-Xmx3000m`. I see the memory indicator shows around 700MB taken now... but when it GCs, it goes down to 230MB.

[2016-09-25 16:27] renatoathaydes commented on #502
I would suggest profiling the auto-completion code (which is already proven to be the cause of this lag) and trying to see where it's spending time... I think that when I am typing in characters as fast as I can, the auto-completion code should be doing no work at all... Is it possible to make sure the auto-completer has a timeout for doing any work? So only if I don't type anything for 250ms, for

[2016-09-25 16:30] renatoathaydes commented on #502
Also, if you haven't seen this [blog post](https://blog.jetbrains.com/idea/2015/08/experimental-zero-latency-typing-in-intellij-idea-15-eap/), it may help... it seems IntelliJ uses some trick to make typing without lag possible... can the Ceylon plugin be causing the trick to not work (or maybe it just needs to copy the trick?)?

[2016-09-25 16:31] gavinking commented on #502
Well, no, I don't experience the lag at all, so you would have to do the profiling on *your* machine.

[2016-09-25 16:34] gavinking commented on #502
Right, as I said, I still don't experience the problem with only 300 meg.

[2016-09-25 16:39] renatoathaydes commented on #502
<img width="1177" alt="screen shot 2016-09-25 at 18 38 18" src="https://cloud.githubusercontent.com/assets/1901277/18816723/57aaf11a-834f-11e6-8bae-786a86e97005.png">

[2016-09-25 16:40] gavinking commented on #502
So if you type 10 characters quickly, you're waiting almost a second to see the result?

Makes no sense to me. I can't imagine where that could be coming from.

[2016-09-25 16:50] gavinking commented on #502
@renatoathaydes would you please try two things:

1. Tools > Ceylon > Decrease the processing priority of Ceylon model updates
2. If that doesn't work, then Tools > Ceylon > Disable automatic update of the Ceylon model

Let me know if it makes a difference.

[2016-09-25 17:21] gavinking commented on #502
@renatoathaydes A third thing you could try would be:

3. In Preferences > Languages & Frameworks > Ceylon > Completion

Disable 'Use colored labels in proposal lists'.

That *shouldn't* make a difference, but it's still worth a try, I suppose.

[2016-09-25 18:46] renatoathaydes commented on #502
The slowness is subtle but very annoying... hope you can see it in this video (it's non-listed, so should not be searchable):

https://youtu.be/xVqdMFkhsRA

[2016-09-25 18:56] renatoathaydes commented on #502
@gavinking tried all of the above. No difference.

I cannot type 10 characters in less than one second.. what I mean is that each character most certainly takes more than 100ms to show on the screen when I type... does not seem to be cumulative. As the blog post I mentioned before says, it seems this is a slow rendering problem, which does not affect other languages in IntelliJ.

[2016-09-25 20:22] gavinking commented on #502
@renatoathaydes That looks to me like *way* less than a 1/10th of a second lag. Sure, there's a *slight*, almost imperceptible, difference in the speed at which typed characters are displayed. But in the issue description you state that the editor is "incredibly slow", and "completely impossible to use", and I'm not seeing anything remotely like that in your video. Perhaps you have some other scen

[2016-09-25 20:46] renatoathaydes commented on #502
That's why I made the video, you seemed to assume it was like a second delay... no, it's a small delay (at least 100 ms or I probably would not notice) that throws me off completely when writing code, so for me it is totally unusable.

You are probably used to it and can't notice anymore.

Subjective? Yes for sure... close the issue if you don't mind this, but I will not use it.

[2016-09-25 20:57] gavinking commented on #502
FFS man, we're just trying to understand what the actual problem is so we can nail down the source of it and fix it! And you're making that way more difficult than it needs to be by being amazingly combative and by wildly exaggerating the nature of the problem.

[2016-09-25 22:00] gavinking commented on #502
Alright, so, I have done two things:

1. I commented out a `print()` statements I added when I was profiling the completion subsystem.
2 On the 502 branch, I have pushed @02550a0d3c8f36e6fe2099f0747d855effc32f1a.

It seems to me that these two changes have solved the problem. It's really hard to be certain of how much impact each one had because this problem is so subtle that I don't have a hope o

[2016-09-25 23:25] gavinking commented on #502
Looks like I have got around this via some hackery.

It seems to me like the problem is fixed, but it's perfectly possible that I've introduced bugs.

[2016-09-25 23:30] gavinking commented on #502
The best thing about this change is it makes completion popup *waaay* faster...

[2016-09-26 00:34] gavinking commented on #502
My solution seems to be working pretty well, and makes completion come up a lot quicker, so I've merged it to master (as a single commit to make it easy to roll back).

[2016-09-26 06:24] renatoathaydes commented on #502
I am amazed you have this impression. I've just spent a Sunday night helping you solve a problem (without having anything to gain and much to lose, for example, my peace of mind) by providing you with all information you requested, doing your job for you by opening up a visualVM and showing what part of the code is slow (why couldn't you do that??), and even going as far as making a video to clari

[2016-09-26 08:17] gavinking commented on #502
FTR, the slowness was not related to anything of the methods that showed up in that Visual VM screenshot.

And if you would have accurately described the problem in the first place as a tiny subtle lag, instead of talking about an editor that was "incredibly slow", and "completely impossible to use", then we would not have thought that this was something that we were unable to reproduce, and I wou

[2016-09-26 11:20] bjansen commented on #490
How should I transform names? The first `:` is simply replaced with a `-`, and what's after the second (and removed) `:` becomes the module version?

[2016-09-26 11:23] FroMage commented on #490
I think so.

[2016-09-26 12:45] #498 closed

[2016-09-26 15:53] #490 closed

[2016-09-26 15:55] bjansen commented on #490
This should be fixed.

* `compile` dependencies are added to `module.ceylon` iff the Ceylon module needs to be created
* `apt` dependencies are added to `config` every time the user clicks on "Configure Ceylon in this module"

[2016-09-26 18:06] bjansen commented on #504
@gavinking I think you'll have to cherry pick those fixes in [this branch](https://github.com/ceylon/ceylon/tree/version-1.3.0), otherwise they won't be included if I release Ceylon IDE 1.3.0-1 (still based on Ceylon 1.3.0).

[2016-09-26 21:43] gavinking commented on #504
@bjansen well the commits that fixed this aren't changes to IDE code. They're fixes to the `ceylon` project. Now, perhaps [this](https://github.com/ceylon/ceylon-ide-common/commit/e9917fecc9f6031c160506a047bc1629af8c748c) is a workaround for the problem, I'm not sure, I have not tested it as a fix to this issue. Anyway that is on common which has no branch.

[2016-09-26 21:45] gavinking commented on #504
@bjansen It might be better to just catch the exception.

[2016-09-27 06:19] bjansen commented on #504
That's why I pointed you to the ceylon/ceylon project ;)

[2016-09-27 08:00] bjansen commented on #504
OK, I merged https://github.com/ceylon/ceylon-ide-common/commit/e9917fecc9f6031c160506a047bc1629af8c748c in [the 1.3.0-fixes branch](https://github.com/ceylon/ceylon-ide-common/tree/1.3.0-fixes), I think it's enough to fix this issue. Even if additional changes mades to `ceylon/ceylon` are not shipped in 1.3.0-1, we still have a correct workaround.

[2016-09-27 08:00] #504 closed

[2016-09-27 11:55] bjansen opened #505 "Completion not working on newly converted projects"
When I create a *Java* project, then add a Ceylon module, the facet detector will propose me to configure Ceylon in this project. When I do that, completion will not work in `module.ceylon` unless I reopen the project (even resetting the Ceylon model is not enough).

[code]

[2016-09-27 11:56] bjansen commented on #502
It seems to me that the situation is now much more acceptable, so I'll close this for now.

[2016-09-27 11:56] #502 closed

[2016-09-27 12:26] gavinking opened #506 "moving a .ceylon file in the Project tree"
let's say I have two source files in the default package: `run.ceylon` which depends on a class in `Class.ceylon`. I drag and drop `Class.ceylon` into another package.

What _should_ happen is that I get errors in `run.ceylon` because the class is no longer visible (or, even better, and `import` statement gets added automatically).

What _actually_ happens is:

- there are no errors in `run.ceylon

[2016-09-27 12:28] davidfestal commented on #506
let me take it, as it is probably related to the ceylon model manager not tracking correctly the file moves.

[2016-09-27 12:51] jvasileff commented on #506
I've noticed this too. When renaming a file in the same package, you get errors for duplicate declarations.

[2016-09-27 14:49] FroMage commented on #443
I confirm that my fix for ceylon/ceylon#6533 does not let me run into the problem you described in the previous comment, so it's fixed.

[2016-09-27 14:49] #443 closed

[2016-09-27 15:08] FroMage opened #507 "Model exception on latest plugin"
Just got that when upgrading my plugin to the current master.

[code]

[2016-09-27 15:10] bjansen commented on #507
When opening ceylon-ide-intellij?

[2016-09-27 15:10] FroMage commented on #507
Yes, with a Ceylon project open. Or when adding Ceylon to an existing project.

[2016-09-27 15:11] FroMage commented on #507
I suppose that blocks me checking your other fixes.

[2016-09-27 15:12] FroMage commented on #507
Yeah, it makes the IDE hang when I add the Ceylon nature.

[2016-09-27 15:13] bjansen commented on #507
Did you build master or the branch?

[2016-09-27 15:14] bjansen commented on #507
If this is the branch, you also have to build the dist, SDK, formatter, converter and ide-common from their `1.3.0` tags (or branch, for ide-common).

[2016-09-27 15:16] bjansen commented on #507
Oh, the description says "master", nevermind :)

[2016-09-27 15:25] FroMage commented on #507
Yes, `master`.

[2016-09-27 15:27] FroMage commented on #507
Are you saying this exception is not present on the new release branch?

[2016-09-27 15:28] bjansen commented on #507
I'm not currently experiencing it. But I don't really understand why it happens on master though.

[2016-09-27 19:14] #505 closed

[2016-09-27 19:40] bjansen commented on #507
Can't reproduce it here, even on master. Maybe try to rebuild everything again, or do a `File > Invalidate and restart`?

[2016-09-27 19:45] bjansen commented on #443
Looks like it is working fine now, thanks!

[2016-09-28 08:55] MikhailMalyutin opened #508 "Error message after deleting package"
I remove some package from IDEA
After that i receive next error in log:

[code]

[2016-09-28 08:57] FroMage commented on #507
Nope, same. Lemme try the branch.

[2016-09-28 09:12] FroMage commented on #507
OK, doesn't happen on the dev site update. I probably fucked up my build.

[2016-09-28 09:12] #507 closed

[2016-09-28 09:12] FroMage commented on #497
Fixed.

[2016-09-28 09:13] FroMage commented on #500
Verified.

[2016-09-28 09:13] FroMage commented on #499
Verified.

[2016-09-28 09:14] FroMage commented on #490
Verified.

[2016-09-28 09:15] FroMage commented on #497
I just got the popup, though.

[2016-09-28 09:19] FroMage opened #509 "Android: Gradle project closing popup and build errors"
Just converted a new Android project to Ceylon and got a Gradle popup asking if I'm sure I want to close the project, I clicked `No` then I get lots of Ceylon errors in my project. `Rebuild project` did not fix them. Neither did `Update Ceylon model`.

They only go away about 20 seconds after I add and remove a new line in the Ceylon activity and save.

[2016-09-28 09:23] FroMage commented on #509
I get it every time. Create new Android app, pick `Basic Application` and all other defaults. Wait for build/indexes to finish. Add Ceylon to this module, click OK on the repo settings, then switch to the `MainActivity.java` editor while it's building, then open the `CeylonMainActivity.ceylon` editor while it's still building and wait a bit and you get the popup.

[2016-09-28 09:24] FroMage commented on #509
From there, it's unclear exactly what ends up removing all the Ceylon errors, TBH.

[2016-09-28 10:09] bjansen commented on #208
Almost done, I just need to add that fancy link that opens the file from the settings UI, like in Eclipse.

[2016-09-28 10:27] gavinking opened #510 "trigger model update when Problems receives focus"
It would be nice if focussing the Problems window triggered a model update. It would also be cool if it had a Refresh button that did the same thing.

[2016-09-28 11:32] MikhailMalyutin opened #511 "The PSI element should still exist error message in log"
I don't know steps to reproduce, but this happened closely to adding ceylon.java.interop
[code]

[2016-09-29 08:41] #208 closed

[2016-09-29 09:33] gavinking commented on #208
great!

[2016-09-29 10:45] gavinking commented on #207
Done.

[2016-09-29 10:45] #207 closed

[2016-09-29 13:23] bjansen opened #512 "Missing results when trying to autocomplete exceptions"
[code]

In the above scenario, I don't see `AssertionError`, for example.

It looks like it only shows exceptions from the current package and some of the exceptions in `ceylon.language` when the prefix is empty, and no result at all as soon as there is a prefix.

[2016-09-29 13:34] #511 closed

[2016-09-29 13:45] DiegoCoronel opened #513 "Support ceylon swarm plugin"
Currently we have a plugin to run swarm but we need to do all steps manually, it would be awesome to have integration with IDE, something like:
- Be able to run as swarm module
- Be able to debug as swarm module

[2016-09-29 13:45] DiegoCoronel commented on #513
I did same request for eclipse IDE: https://github.com/ceylon/ceylon-ide-eclipse/issues/1835

[2016-09-29 13:46] DiegoCoronel commented on #513
JBoss Swarm is gaining traction, so i believe this feature can be a big attractive for Ceylon

[2016-09-29 13:53] quintesse opened #514 "Error with modules in test source folders"
I have an IntelliJ project with some modules in a source folder and some test modules in a test folder, but for some reason all the `module.ceylon` files in the test folder get an error "module descriptor encountered in root source directory". This seems to be an IntelliJ error because it doesn't appear when doing a build (the build runs fine)

[2016-09-29 14:30] quintesse opened #515 "Allow "Run" on modules and files in Project view"
It would be nice to have the ability to select "Run" (and Debug etc) when right clicking on a module or source file in the Project view. When there are multiple options we could open a dialog like we do in Eclipse.

This is so people don't have to hunt around in the code to find the runnable methods.

Btw: there is a config file setting called `runtool.module` that a developer can use to set the d

[2016-09-29 14:33] quintesse opened #516 "New module using existing sources doesn't take config file into account"
If I import an existing Ceylon project the wizard shows me a dialog with the source directories it found. But all of them are selected instead of only the ones that are defined in the config file.

IMO the wizard should:

 1. use the values defined in the config file, or
 2. use the Ceylon defaults (`source` and `resource`), or
 3. scan when there's no config file and no source/resource folders

P

[2016-09-29 14:36] bjansen commented on #512
Actually, the same problem appears in Eclipse. The completion manager is trying to restrict proposals to declarations that match the given condition:

[code]

But here, `AssertionError` (and probably a lot of other exceptions) inherit from `j.l.Exception` or `c.l.Throwable`, so in fact they don't inherit from `c.l.Exception`.

I'm not sure if model loaders should treat all exceptions as children o

[2016-09-29 14:42] quintesse opened #517 "Error on adding `ceylon-sdk` as new module"
Simply adding the module caused this, no special steps were done.

Event log:

[code]

Fatal errors:

[code]

[2016-09-29 14:42] bjansen commented on #515
😮

I think we should use that setting:

* to create run configurations automatically when the project is imported
* and to persist the "main" run config (there would be some kind of checkbox in the UI to define a run config as the "main" config).

[2016-09-29 14:43] bjansen commented on #516
That might be a good idea, yes.

[2016-09-29 14:45] quintesse commented on #515
Ok, good, because there are also accompanying `runtool.run` and `runtool.arg` settings (where the latter can accor multiple times) so we can actually persist all the necessary information

[2016-09-29 14:48] bjansen commented on #515
That's a hidden feature, it's not even documented in https://ceylon-lang.org/documentation/1.3/reference/tool/config/#_runtool_section ;)

[2016-09-29 14:48] quintesse commented on #515
It's *very* new :)

[2016-09-29 16:14] gavinking commented on #512
Of course. Obviously that code was written before we had `Throwable`.

[2016-09-29 17:21] gavinking commented on #512
@bjansen should be fixed.

[2016-09-29 17:24] bjansen commented on #512
Good thing it was assigned *to me*...

[2016-09-29 17:36] bjansen commented on #207
Why didn't you create checkboxes by using reflection on `Warning`?

[2016-09-29 20:24] #509 closed

[2016-09-29 20:29] bjansen commented on #512
Still not working on non-empty prefixes, probably because in this case we are querying IntelliJ's index.

[2016-09-29 20:43] gavinking commented on #512
We probably don't set the supertype in that case.

[2016-09-30 07:50] #279 closed

[2016-09-30 07:51] gavinking commented on #279
Done!!

[2016-09-30 09:16] #281 closed

[2016-09-30 09:17] gavinking commented on #281
Done!

[2016-09-30 10:31] FroMage commented on #509
Confirmed!

[2016-09-30 10:31] FroMage commented on #498
Confirmed!

[2016-09-30 13:55] bjansen opened #518 "Assertion failed: The PSI element should still exist"
[code]

[2016-09-30 15:29] chochos opened #519 "Javadoc not visible with plugin installed"
With the Ceylon plugin installed, you can't see javadocs with the "quick documentation" option, even if it's in the same declaration. Try this in a Java file:

[code]

Then put the cursor over `Something` and press Ctrl-J. It says "no documentation found".

After uninstalling plugin and restarting, some reindexing was performed and javadoc was showing up again.

[2016-09-30 18:40] #518 closed

[2016-09-30 19:01] #514 closed

[2016-09-30 19:12] #519 closed

[2016-09-30 19:47] #517 closed

[2016-10-01 08:49] #512 closed

[2016-10-01 11:31] karimiumar opened #520 "ceylon: could not determine type of function or value reference in IntelliJ"
I'm using Springboot along with Spring transaction in my application. My SpringConfig file is annotated as:
[code]

The given application fails during "make" with the following exception:
[code]

If I remove `enableTransactionManagement ` annotation then application runs successfully.
Also, the same application runs successfully in eclipse-ceylon-ide. I'm running IntelliJ on Ubuntu 16.04

My modul

[2016-10-01 16:37] bjansen commented on #520
This is actually caused by Maven's transitive dependencies. To fix this, you need to create an `overrides.xml` file, that will likely look like this:

[code]

More information here: https://ceylon-lang.org/documentation/reference/repository/overrides/

[2016-10-01 19:01] karimiumar commented on #520
Well that's strange. After adding the following lines to overrides.xml it worked :)
`<module module="org.springframework:spring-tx">
        <add module="org.springframework:spring-context" version="4.2.4.RELEASE" shared="false"/>
    </module>`
 But my setup is already configured with overrides.xml file and as I mentioned that its working in eclipse. So why the same is not working in IntelliJ. Is

[2016-10-02 07:22] bjansen commented on #520
Could you share this project somewhere so I can take a look?

[2016-10-02 11:19] gavinking opened #521 "can't navigate to R.Layout.activity_main_ceylon"
Given the example `CeylonMainActivity()` in Android Studio, I can't click-navigate to `R.Layout.activity_main_ceylon` or any of the other `static` members of `R.Layout`.

[2016-10-02 15:50] karimiumar commented on #520
Shared the project on https://github.com/karimiumar/SpringCeylon

[2016-10-02 16:56] bjansen commented on #521
I believe this is a duplicate of https://github.com/ceylon/ceylon-ide-intellij/issues/251

[2016-10-02 17:30] gavinking commented on #521
Well #251 is about wanting to be sent to the XML. This issue is that I don't even get taken to the _Java_. But, sure, I guess fixing #251 is the solution to this.

[2016-10-02 18:39] bjansen commented on #520
The CLI gives the same error:

[code]

I have no clue why this works in Eclipse, but I can say there is no bug in IntelliJ.

[2016-10-02 18:46] bjansen commented on #520
Actually I have the exact same error in Eclipse:

<img width="720" alt="capture d ecran 2016-10-02 a 20 44 47" src="https://cloud.githubusercontent.com/assets/281528/19022830/1fcccb50-88e1-11e6-9888-577f6417f439.png">

(I had to recreate the project in Eclipse because you didn't commit the project files)

[2016-10-02 19:10] bjansen commented on #520
Oh I see, the error disappears if `Use a flat classpath` is enabled in the project properties in Eclipse. Since you didn't push your `.ceylon/config`, I'm not sure if that setting is also enabled in your case. If so, it should have been automatically picked by IntelliJ.

[2016-10-03 04:59] karimiumar commented on #520
Well, the `.ceylon/config` has the following entries
`[defaults]`
`offline=false`
`flatclasspath=true`
`autoexportmavendependencies=true`
`overrides=overrides.xml`

`[repositories]`
`remote=aether`
but it still fails in IntelliJ

![screenshot from 2016-10-03 10 20 05](https://cloud.githubusercontent.com/assets/9896893/19027944/efbc5ea8-8953-11e6-86e3-8fd9cd065dcc.png)

[2016-10-03 09:05] bjansen commented on #520
Wow, it looks like you are using an old version of the plugin (still using the old icons!). Maybe you should try updating it (using `Check for Updates...`) and see if it works better.

The latest version is currently 1.3.0-201609301555.

[2016-10-03 09:59] karimiumar commented on #520
Reinstalled Ceylon plugin from the repository with version v1.3.0-201609301555. But the problem still persists. The problem occurs when executing the application or Build->Make Project..

[2016-10-03 10:02] bjansen commented on #520
Oh, OK, I though it was in the editor... I should really read the issues more carefully :)

[2016-10-03 13:42] #520 closed

[2016-10-03 20:29] #516 closed

[2016-10-03 20:45] bjansen commented on #521
I suppose we could propose two navigation targets like we do for native declarations: one that navigates to the Java decl, the other to the XML file.
I'll fix the Java part in this issue, and leave the XML part in #251.

[2016-10-03 20:51] gavinking commented on #521
@bjansen that would be perfect.

[2016-10-03 20:53] #521 closed

[2016-10-03 22:46] gavinking commented on #521
Thanks!

[2016-10-03 22:48] gavinking opened #522 "error at startup in Android Studio"
I just got this:

[code]

with this "attachment":

[code]

[2016-10-04 10:24] #492 closed

[2016-10-04 16:58] #522 closed

[2016-10-04 17:39] gavinking commented on #522
Thanks man

[2016-10-04 21:03] bjansen commented on #450
I can see constructors in the results, they even show up in `Navigate > Class`. The navigation is broken though, it opens the file but doesn't navigate to the constructor itself. I'm going to fix that.

[2016-10-05 07:32] MikhailMalyutin opened #523 "Error message in IDEA Plugin ( Failed to resolve ceylon.file.File)"
[code]

[2016-10-05 07:33] MikhailMalyutin opened #524 "Error message in IDEA Plugin (Invalid parent: )"
[code]

[2016-10-05 08:57] bjansen commented on #450
Oh, actually results show up if they are in libraries (because constructors are compiled to their own class). It doesn't work for constructors defined in the current project.

[2016-10-05 09:57] bjansen commented on #450
If you type `ofSize`, it will now correctly navigate to the named constructor.

[2016-10-05 10:01] gavinking commented on #450
Great!

Sent from my iPhone

[2016-10-05 10:06] #524 closed

[2016-10-05 16:32] bjansen commented on #523
@MikhailMalyutin do you still see this problem after `overrides.xml` is correctly configured?

[2016-10-06 10:03] gavinking opened #525 "impossible to run cross-platform project on node"
Right now if I enable both compiler backends, I can't run my program on JS, even if I manually create the run configuration.

[2016-10-06 10:22] bjansen commented on #525
Reproducible by creating a JS run config manually, on the default module.

[2016-10-06 11:25] MikhailMalyutin opened #526 "Error - Assertion failed: The PSI element should still exist"
Next error in log:

[code]

[2016-10-06 12:47] bjansen commented on #525
I have a fix, but for existing projects, the "default" backend for JS configurations has already been set in `.idea/workspace.xml`, and there's not way to fix it from the UI:

[code]

I'll have to make an ugly fix to the code to force the backend to "js" in existing projects.

[2016-10-06 15:55] bjansen commented on #525
As discussed on Gitter, I've just merged the JS and JVM configuration types. Unfortunately, this means existing JS configurations will be lost.

* When you right-click on a runnable declaration, there is now a single 'Run' entry (instead of 'Run -> Java' and 'Run -> JVM').
* Configurations automatically created via right-clicking on a runnable will default to 'Java' if the module has no `native` a

[2016-10-06 16:20] gavinking commented on #525
@bjansen it looks reasonable to me.

However, a comment: it seems to me that it was a mistake to remove the little gutter icon on runnable functions and classes. I think we should put it back.

[2016-10-06 18:00] #525 closed

[2016-10-06 18:01] bjansen commented on #525
Done.

[2016-10-06 18:40] bjansen commented on #523
I can't reproduce that problem, I'll put a breakpoint at that location and hope that it happens again so I can debug it...

[2016-10-07 10:17] MikhailMalyutin commented on #523
Yesterday I vad next overrides.xml:
<overrides xmlns="http://www.ceylon-lang.org/xsd/overrides">
    <set module="ceylon.json" version="1.3.0"/>
</overrides>

Today I don't use such overrides.xml and this error message disappears. I opened projects which use vertx 3.3.3 which has transient dependencies to ceylon 1.2.2.
Now I release to our local herd vertx 3.3.3.1 with dependency to ceylon 1.3.0 a

[2016-10-07 11:41] MikhailMalyutin commented on #523
Reproduced again.

With message Cannot convert type name "com.github.tombentley.typeparser.TypeFormatter" to a Declaration: Failed to resolve com.github.tombentley.typeparser.TypeFormatter
com.redhat.ceylon.model.loader.ModelResolutionException: Failed to resolve com.github.tombentley.typeparser.TypeFormatter
	at com.redhat.ceylon.model.loader.AbstractModelLoader$5.call(AbstractModelLoader.java:17

[2016-10-07 12:07] MikhailMalyutin opened #527 "IndexNotReadyException exception in log"
If we paste in our project a code from other project we can see next error in log:

[code]

[2016-10-07 13:24] gavinking opened #528 "playing with the output repository lets me delete my whole project"
If I accidentally set the output repo to my project directory, and then set it back to the right location, the IDE will helpfully offer to delete my whole project for me. If you don't _very_ carefully read the message, you will just click OK.

[2016-10-08 08:33] gavinking opened #529 "doclink navigation to members of Array and Float"
From the doc annotation of `Array` and `Flat`, I can't navigate to members referenced with e.g. ``[[swap]]``.

[2016-10-08 08:42] gavinking opened #530 "navigation to native implementations is broken!"
We used to display all `native` implementations of a declaration when navigating to it. That functionality is gone.

[2016-10-08 13:47] #530 closed

[2016-10-08 13:48] gavinking commented on #530
Fixed.

[2016-10-08 18:11] gavinking commented on #525
Thanks.

[2016-10-08 18:50] #529 closed

[2016-10-08 18:51] gavinking commented on #529
fixed.

[2016-10-12 14:32] FroMage opened #531 "Override functional-interface methods in model loader"
To support ceylon/ceylon#1617. See:

- `CeylonModelLoader.getFunctionalInterfaceType(TypeMirror)`
- `CeylonModelLoader.isFunctionalInterfaceType(TypeMirror)`
- `CeylonModelLoader.isFunctionalInterfaceType(ClassMirror)`

For inspiration. I assume Eclipse and IntelliJ will have enough infra to answer the question of whether a type is a SAM or not and give you the abstract method reference.

[2016-10-12 16:36] #531 closed

[2016-10-12 17:54] gavinking opened #532 "bug with collect() and SAM conversions"
See ceylon/ceylon/issues/6580, which turns out to be a bug in the IntelliJ model loader.

[2016-10-12 18:14] FroMage commented on #532
You're probably not applying the type arguments properly.

[2016-10-13 07:12] gavinking opened #533 "errors after importing project"
I got lots of these after importing @DiegoCoronel's Swarm example project. I've also seen it recently in other circumstances.

<blockquote>
9:09 AM ModelResolutionException: Cannot convert type name "java.lang.Enum" to a Declaration: Failed to resolve java.lang.Enum

9:09 AM ModelResolutionException: Cannot convert type name "java.util.Map" to a Declaration: Failed to resolve java.util.Map

9:09 A

[2016-10-13 07:59] bjansen commented on #532
I don't even know where `U` comes from :s

[2016-10-13 08:14] FroMage commented on #532
From https://docs.oracle.com/javase/8/docs/api/java/util/function/BiFunction.html

[2016-10-13 08:15] FroMage commented on #532
Sorry https://docs.oracle.com/javase/8/docs/api/java/util/function/BiConsumer.html as used in https://docs.oracle.com/javase/8/docs/api/java/util/stream/Stream.html#collect-java.util.function.Supplier-java.util.function.BiConsumer-java.util.function.BiConsumer-

It's really that you didn't apply the argument types right.

[2016-10-13 08:15] bjansen commented on #532
Yes, I just figured that... IntelliJ tells me the return type is `R`, but in fact it's `T` from the PoV of `BinaryOperator`.

[2016-10-13 08:40] gavinking commented on #532
Thanks @bjansen, very fast.

[2016-10-13 09:01] bjansen commented on #532
Not entirely fixed, apparently:

[code]

[2016-10-14 07:59] MikhailMalyutin opened #534 "IndexNeededWithNoIndexStrategy error in log"
After a week running IDEA there was next error in log:

Entering in a section that would need indexes, but no strategy has been specified.
  The stragtegy used when indexes are unavailable can be specificied by one of the following methods:
  - concurrencyManager.withUpToDateIndexes()
  - concurrencyManager.withAlternateResolution()
  - concurrencyManager.outsideDumbMode()
org.intellij.plugins.cey

[2016-10-14 15:54] gavinking opened #535 "compilation error in IdeaCeylonParser"
I have the following compilation error in ceylon-ide-intellij:

I don't have this on the CLI.

@bjansen It's definitely something to do with the SAM conversion stuff.

[2016-10-16 21:40] gavinking opened #536 "'Cannot convert type name'"
When using `maven:` imports, I often get errors like this.

[code]

[2016-10-16 21:41] gavinking commented on #536
I also got this similar error in the Problems window:

[code]

[2016-10-17 08:33] bjansen commented on #536
What does this mean? Are you trying to call completion after the `maven:` prefix? Are you trying to call completion on a project that imports maven artifacts? Do you have a reproducible test case?

[2016-10-17 08:36] gavinking commented on #536
@bjansen I'm saying the error seems to happen when I have imported shit from Maven.

[2016-10-17 09:01] bjansen commented on #536
On what maven import did it happen?

[2016-10-17 09:09] gavinking commented on #536
I'm not sure. It's not something super-reproducible, but I've seen a fair amount of it when working with Swarm stuff from Maven.

[2016-10-17 13:42] bjansen commented on #532
In `Stream` we have this method:

[code]

with

[code]

What's happening is that when I use IntelliJ's API to retrieve the parameter types for the SAM, it finds a type `? super T`, which is of kind `TypeKind.WILDCARD` and has a lower bound of type `T`. The model loader then calls `convertNonPrimitiveTypeToDeclaration` and falls into this case:

[code]

That's why we end up with `Boolean(Nothing)`.

[2016-10-17 14:45] FroMage commented on #532
Wildcards are usually dealt with in `applyTypeArguments`, which is why we don't get at the `case` you mention.

[2016-10-17 14:45] FroMage commented on #532
But otherwise yeah, just try to do the same as what `javac` does for us?

[2016-10-17 15:35] #532 closed

[2016-10-17 16:29] bjansen commented on #535
Related to https://github.com/ceylon/ceylon/issues/6607

[2016-10-17 18:30] gavinking opened #537 "limited handling of Java annotations"
For Java annotations:

- autocompletion doesn't work when the annotation is not already imported
- navigation doesn't work

This makes them pretty miserable to work with.

[2016-10-18 07:59] #535 closed

[2016-10-18 13:34] #537 closed

[2016-10-18 13:42] gavinking commented on #537
Thanks!

[2016-10-19 07:25] MikhailMalyutin opened #538 "java.lang.IllegalArgumentException in log"
This error happened after i enteried import keyword. Additional information - project was in brocket state and ceylon problems contained some errors
[code]

[2016-10-19 07:41] MikhailMalyutin opened #539 "Unsupported token type [@-1,2919:2918='<EOF>',<-2>,0:-1] error in log"
I don't know exact steps to reproduce.

I broke existing project with trying to use some function which is not still exists, and later I am trying to write new function and catch this error.

[code]

[2016-10-19 07:46] MikhailMalyutin commented on #538
Additionally - reproduced if I try to write code like:
[code]
And trying to do something with error near creating ObjectArray<T>(ceylonSeq.size)

[2016-10-19 07:50] gavinking opened #540 "Accessing 'java.class.fqn' during processing 'java.class.shortname'."
[code]

[2016-10-19 08:06] gavinking commented on #538
@MikhailMalyutin it looks like you're using an older version of the plugin here? Are you really using 1.3.1-2?

[2016-10-19 08:08] gavinking commented on #539
I get this one too. I think it happens when typing certain symbols at the very end of a file.

[2016-10-19 09:03] bjansen commented on #539
No matter what invalid character I add to an existing file, I can't trigger that error :/

[2016-10-19 09:04] piercemar opened #541 "JpsCeylonModelSerializerExtension : Unsupported major.minor version 51.0 in non-Ceylon projects whith Ceylon IDE plugin installed"
Using IDEA Community 2016.2.5 with Ceylon IDE plugin installed (1.3.0-201610121525), I cannot run JUnit tests for java projects targeting JDK 1.6 (see attached demo project)
[demo.zip](https://github.com/ceylon/ceylon-ide-intellij/files/538381/demo.zip)

I get the following Exception :

[code]

[2016-10-19 09:15] bjansen commented on #541
Related: https://youtrack.jetbrains.com/issue/IDEA-157875#comment=27-1487344

[2016-10-19 09:44] #541 closed

[2016-10-19 10:15] gavinking commented on #538
@bjansen Ah, OK, sorry.

[2016-10-19 11:06] gavinking opened #542 "error running code in the SDK"
If I run a function in the SDK, I get this error:

[code]

Not sure why the Java backend would be trying to compile modules clearly marked `native("js")`.

[2016-10-19 11:14] MikhailMalyutin commented on #538
I use ceylon IDE version 1.3.00201609301555. This is latest plugin which is available by default

[2016-10-19 11:18] bjansen commented on #538
There's a newer version: https://plugins.jetbrains.com/update/index?pr=&updateId=29469

[2016-10-19 12:55] MikhailMalyutin commented on #538
I see, there was a conflict between jetbrains repository and ceylon plugin repository. Now i use only plugin.jetbrains.com

[2016-10-19 13:43] bjansen commented on #538
I don't even see how that can happen:

[code]

Every accepted import belongs either to a module, or a class/interface (a `TypeDeclaration`). I'm not aware of any importable declaration that would be contained in something that is not a `TypeDeclaration`. @gavinking wdyt?

[2016-10-19 13:47] gavinking commented on #538
Users sometimes type things that are not legal Ceylon.

[2016-10-19 13:50] bjansen commented on #538
Right, but in that case it won't be accepted by the typechecker, so it won't appear in `sourceUnit.imports`?

[2016-10-19 13:51] bjansen commented on #538
Oh, there's also the possibility that `theImport.declaration.scope == null`, I guess

[2016-10-19 15:06] #538 closed

[2016-10-20 08:12] bjansen commented on #527
Grr now I get

[code]

[2016-10-20 08:13] bjansen commented on #527
@davidfestal I'm not sure what the correct fix is, could you have a look when you have time? Thanks.

[2016-10-20 08:44] MikhailMalyutin opened #543 "Strange message in event log:"
After restarting IDEA i catch next errors in event log:
[code]

Unfortunetaly I can't send stacktrace, because in details form is blank

But jstack result is next:
[code]

[2016-10-20 11:43] gavinking opened #544 "error at startup in JS-only project"
I think this one is a regression:

[code]

And more like that.

[2016-10-20 12:06] MikhailMalyutin opened #545 "Error message in log - Worker exited due to exception"
[code]

[2016-10-20 12:09] gavinking commented on #545
@quintesse would you please give us an idea as to what might be going on here, thanks.

[2016-10-20 13:18] gavinking commented on #544
This one is a very high priority, since it seems to me that it's the root cause of some really weird compilation errors in JS-only projects.

[2016-10-20 13:43] bjansen commented on #545
It could be `modelLoader.convertToDeclaration` that is returning null just before calling `if(isForBackend(d, backends))`.

[2016-10-20 14:46] bjansen commented on #544
To fix #456, I changed the initial model update to *not* add `ceylon.language.car` to the classpath, because JS-only projects are supposed to load the language module from sources. What's happening here is that something is still trying to load class mirrors instead of using source declarations, which fails because the language is not in the classpath.

When I tested #456, it was working because t

[2016-10-20 16:04] gavinking opened #546 "type assigned to parameter of 'Stream.map()' is wrong"
I can't pass any function to `Stream.map()` because its parameter gets assigned the return type `Nothing` in the IDE.

[2016-10-20 16:51] bjansen commented on #544
After further investigation, I found that the language module is correctly loaded from the .src file, but some of the declarations are written in Java (`java.lang.XxxArray`), so we can't actually load these from source. I need to revert the fix I did in #456, and find something else instead.

Eclipse works fine with ceylon.language.car always in the classpath, so there's no reason I can't do the s

[2016-10-20 17:39] gavinking commented on #544
@bjansen nononono, you can safely ignore those ones, since they don't actually belong to the language module and aren't available on JS!

[2016-10-20 20:13] xkr47 opened #547 "NPE when creating new project"
I just downloaded community edition IDEA 2016.2.5, jdk 1.8.0_112-b15 and installed CeylonIDE 1.3.0-201610121525 through IDEA.

After starting up, creating a new project with all-defaults except the project name & directory (which doesn't exist from before):
[code]
The problem repeats if I choose `File -> Close Project` and create a new project again. The problem **does NOT** repeat if I don't clos

[2016-10-20 20:59] dlkw opened #548 "Refactoring: renaming type parameter does not change given clause"
Refactor/Rename... with cursor on the first B in
[code]
changes first and third B only, second is left unchanged.

Vice-versa, with cursor on second B changes only the second B.

Same for function type parameters.

Ceylon plugin version is 1.3.0-201610121525, Intellij 2016.2.5.

[2016-10-21 07:46] bjansen commented on #547
Already fixed in b8c241fe13e064ca737c12bca38d8d58df73b862

[2016-10-21 07:46] #547 closed

[2016-10-21 07:51] MikhailMalyutin opened #549 "java.lang.IllegalArgumentException in log"
I did nothing special, but wrote code like this:
[code]

And next error occurs in log:

[code]

[2016-10-21 08:03] bjansen commented on #549
Please don't open duplicate issues, you already reported it in https://github.com/ceylon/ceylon-ide-intellij/issues/538 ;)

[2016-10-21 08:03] #549 closed

[2016-10-21 08:08] bjansen commented on #549
FTR `ceylon.interop.java` already provides functions and classes that convert iterables to `ObjectArray` (using `createJavaObjectArray`), `java.util.List` (using `JavaList`) etc.

https://modules.ceylon-lang.org/repo/1/ceylon/interop/java/1.3.0/module-doc/api/index.html

[2016-10-21 08:31] #546 closed

[2016-10-21 08:32] gavinking commented on #546
thanks!

[2016-10-21 10:00] gavinking opened #550 "IntelliJ can't find npm"
This is the same bug that @davidfestal already fixed in Eclipse, but this time for IntelliJ. Apparently the changes to ceylon-ide-common weren't enough.

[2016-10-21 10:35] davidfestal commented on #550
@bjansen you can use `CeylonIdeConfig.npmPath` or `CeylonIdeConfig.nodePath`
For the *in-process* typechecking it has been checked normally, but probably not for the *out-process* Idea Ceyon compiler.

[2016-10-21 10:58] bjansen commented on #550
What's the problem exactly? I was able to add this import with no problem in my module descriptor:

[code]

[2016-10-21 10:59] gavinking commented on #550
@bjansen nuke your `modules` and `node_modules` folders and see what happens.

[2016-10-21 10:59] bjansen commented on #550
I just created the project.

[2016-10-21 11:01] bjansen commented on #550
When I drop those two folders, a full update starts automatically and restores them :/

[2016-10-21 11:04] gavinking commented on #550
OK, so I will try again. Perhaps you put some entry in the `config` or `ide-config` file that I don't have?

[2016-10-21 11:06] bjansen commented on #550
Nope, as I said it's a project I just created.

[code]
[code]

[2016-10-21 11:17] gavinking commented on #550
I just rebuilt, reinstalled, and tried again. Now I get:

[2016-10-21 11:33] gavinking commented on #550
Alright, so here's what I need to do to make it work after nuking `node_modules`.

1. force a manual Rebuild Project (I suppose that invokes the CLI compiler)
2. manually Synchronize the `node_modules` folder, so that the Ceylon plugin sees the downloaded files.

[2016-10-21 11:37] gavinking commented on #550
@bjansen I get the exact same behavior in a newly created project. So there's definitely still a serious problem here.

[2016-10-21 11:37] gavinking commented on #550
Always:

[2016-10-21 11:38] gavinking commented on #550
Ok, 127 means command not found.

[2016-10-21 12:14] bjansen commented on #550
Could you run the plugin in debug mode, put a breakpoint in `com.redhat.ceylon.cmr.impl.NpmContentStore#installNpmModule`, delete `node_modules` and when it hits the breakpoint evaluate `System.getEnv("PATH")`?

Here it's `/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin`, I'd like to know why your system is different (I also installed npm via homebrew).

[2016-10-21 12:19] gavinking commented on #550
Oh, wait, no, I *am* observing the same behavior in Eclipse.

[2016-10-21 12:34] gavinking commented on #550
@bjansen FFS, I don't seem to be able to reproduce the problem in debug mode :-(

[2016-10-21 14:03] bjansen commented on #550
Using a fresh build of the Eclipse plugin, npm can't be found either:

[code]

[2016-10-21 14:41] gavinking commented on #550
I've now fully tested this on two different machines:

- In my main IntelliJ installation, I have to do rebuild project and refresh to force the module to be downloaded.
- In debug mode, everything works correctly.

So *somehow* we're looking in a different location when the main IntelliJ installation runs a model update. That seems really strange to me. Must be some property or path that is set d

[2016-10-21 20:28] bjansen commented on #550
As discussed on gitter, the root cause is that under some circumstances, the PATH used by Eclipse or IntelliJ doesn't contain `/usr/local/bin`. Using an absolute path to `npm` still isn't enough, because it's a script that starts with `#!/usr/bin/env node`, and `node` isn't on the path either.

[2016-10-22 15:18] gavinking opened #551 "errors Make-ing a project with native("js") and native("jvm") modules"
I have an IntelliJ project with both `native("js")` and `native("jvm")` modules, and both backends enabled. If I Make or Run it, I get errors like this:

WORKAROUND: Rebuild Project before running it.

[2016-10-22 15:21] gavinking commented on #551
P.S. thanks @jknejp for noticing this bug.

[2016-10-22 15:38] bjansen commented on #551
Errrr... https://github.com/ceylon/ceylon-ide-intellij/issues/542

[2016-10-22 15:38] #551 closed

[2016-10-22 23:04] gavinking commented on #550
This was fixed by @davidfestal.

[2016-10-22 23:04] #550 closed

[2016-10-24 09:39] #528 closed

[2016-10-24 09:39] bjansen commented on #528
Fixed, I also changed the dialog to not show when the previous output directory was a source folder.

[2016-10-24 09:45] gavinking commented on #528
Thanks!

[2016-10-24 11:46] #548 closed

[2016-10-24 14:39] gavinking opened #552 "resources dir not created by default in new ceylon project"
New projects should have a `resource` dir.

[2016-10-24 14:42] #544 closed

[2016-10-24 14:45] gavinking commented on #544
Yaaaaaay!

[2016-10-24 14:46] bjansen commented on #544
I had the same reaction when I found the root cause :)

[2016-10-24 16:23] #552 closed

[2016-10-24 16:36] gavinking commented on #552
Thanks!

[2016-10-24 17:33] #542 closed

[2016-10-24 17:57] gavinking commented on #542
Thanks, @bjansen!

[2016-10-25 08:38] MikhailMalyutin opened #553 "Error message in log: null value returned from native call not assignable to Object"
[code]

[2016-10-25 09:41] gavinking commented on #553
Fixed.

[2016-10-25 09:41] #553 closed

[2016-10-25 11:17] MikhailMalyutin opened #554 "Long error messages is displaying incorrectry."
If ceylon error message is long, for example:
[code]
Then there error message in ceylon problems looks like: https://drive.google.com/file/d/0B8zGgfWIamqXT3RYcUxuelRBSUE/view?usp=sharing

[2016-10-25 11:41] luolong opened #555 "Auto import is too eager to import from java.*"
Using IntelliJ plugin I've noticed that Ceylon code editor is way too eager to automagically add import statements to `java.*` classes.

I suppose it comes from the fact that when offering autocompletions, classes from Java namespace come first and when chosen, will end up pulling in import statements.

It is extremely annoying. I has happened to me with `String`, `SocketAddress`, `Integer`, `Stri

[2016-10-25 12:10] bjansen commented on #555
I'm not sure I understand, the IDE will import `java.lang.String` only if you select it in the completion proposals. If you select `ceylon.language.String` instead, it won't import anything.

Are you annoyed by the fact that `java.lang` declarations come *before* `ceylon.language` in the proposals?

[2016-10-25 12:24] bjansen commented on #539
Given the string for this token:

[code]

it appears that:

* token index == -1
* line == 0 but charPositionInLine == -1

so I think we can safely ignore this token instead of complaining we don't know what to do with it.

[2016-10-25 14:22] luolong commented on #555
Yes, I guess so ... It causes me to accidentally choose `java.lang.String` and friends. I would expect to see ceylon proposals first and JVM ones if any, later

[2016-10-25 14:41] bjansen commented on #555
OK.

[2016-10-25 16:07] bjansen commented on #554
That's interesting, I tried to display the exact same message in my problems view, and while it is *extremely* laggy, the message shows correctly. Still, I think it should be best to truncate it and let the ability to copy the entire message in the clipboard.

[2016-10-25 18:58] #554 closed

[2016-10-25 19:02] bjansen commented on #554
Messages that are > 1000 chars are now truncated. It's still possible to show the entire message by doing `ctrl+c` on the message in the Problems view. As a bonus, I implemented a diff window for that specific kind of error, to easily spot differences (right-click on the message, then 'Compare parameter lists'):

<img width="1053" alt="capture d ecran 2016-10-25 a 21 00 36" src="https://cloud.gith

[2016-10-25 21:24] olegnekludov opened #556 "Members not sorted in Structure view with "Group methods by Defining Type" mode on"
See screenshot: http://dl2.joxi.net/drive/2016/10/26/0006/0599/434775/75/7089bd01d4.jpg

[2016-10-25 21:26] olegnekludov commented on #556
Reproduce in Version: 1.3.1-SNAPSHOT-201610250243 (and in earlier version 20161001 too)

[2016-10-26 10:09] bjansen commented on #556
I can't reproduce here. What version of IntelliJ are you using? If you disable then re-enable the sort button, does it fix the problem?

[2016-10-26 13:25] #545 closed

[2016-10-26 13:28] bjansen commented on #543
@davidfestal do you have any idea what's happening here?

[2016-10-26 13:38] MikhailMalyutin opened #557 "Worker exited due to exception error in log"
[code]

[2016-10-26 13:41] bjansen commented on #557
You already opened a similar issues 6 days ago, that I fixed this afternoon ;)

https://github.com/ceylon/ceylon-ide-intellij/issues/545

[2016-10-26 13:41] #557 closed

[2016-10-26 14:28] bjansen commented on #513
What I can do is:

* check if a module descriptor imports `maven:"javax:javaee-api"`
* if so, add a "green arrow" on the module descriptor to launch a run config named "Run with Swarm"
* the run config would be a "JAR Application" configuration, with a "Before launch" command that would run `ceylon swarm`

[2016-10-26 16:04] bjansen commented on #539
That fix makes things worse!

[2016-10-26 18:26] olegnekludov commented on #556
**IDE Version:**
IntelliJ IDEA 2016.2.5
Build #IU-162.2228.15, built on October 14, 2016
JRE: 1.8.0_92-b14 amd64
JVM: Java HotSpot(TM) 64-Bit Server VM by Oracle Corporation

If button "Group methods by Defining Type" is enabled then disable and re-enable the sort button is not working for me - member sorting state is not changes (stay the same) in any case (sorted or not-sorted current state). If

[2016-10-26 21:40] olegnekludov opened #558 "Optimize Imports - show number of removed imports (minor feature)"
Like in Intellij IDEA for Java.

[2016-10-26 23:35] olegnekludov opened #559 "Inline local value refactoring with switch statement breaks code (bug)"
Before:

[code]

After inline:

[code]

[2016-10-27 06:54] xkr47 opened #560 "Ceylon classes not visible from java classes"
modules/test/run.ceylon:
[code]
modules/test/JavaClass.java:
[code]
As commented inline, the java class cannot see the ceylon class. The same works when compiled from the command line or in Eclipse.

Ceylon IDE Version: 1.3.0-201610121525

[2016-10-27 07:51] bjansen commented on #560
Actually there's already an issue for that feature: #350. I'm going to close this one as duplicate to keep everything centralized in #350, if you don't mind.

Also keep in mind that bidirectional interop has limitations: you can instantiate and use Ceylon classes from Java method bodies, but you can't:

* `import` Ceylon declarations in Java files
* create Java methods with a Ceylon return type
*

[2016-10-27 07:51] #560 closed

[2016-10-27 08:04] #539 closed

[2016-10-27 10:22] MikhailMalyutin commented on #543
[code]

[2016-10-27 23:12] olegnekludov opened #561 "Show Parameter Info for generics arguments (enhancement)"
Parameter Info (Ctrl+P) for generics arguments will be also usefull because them have default values and restrictions.
Example of default values and restrictions:
[code]